<div class="oder section">
  <!-- <div class="container">
    <div class="row"> -->
      <!-- <div class="col-md-12">
        <div class="title">
          <h3>оформлення замовлення</h3>
          <p>Якщо ви вже купували -<a [routerLink]='["authorization"]'>авторизуйтесь</a></p>
        </div>
      </div> -->
      <div class="order-item">
        <div class="order-item">
          <div class="order-title" *ngFor="let r of restaurant">
            <div class="container">
              <div class="row">
                <div class="col-md-6 offset-md-3 col-sm-12">
                  <div class="item-name">
                    <img [src]="r.imageUrl">
                    <p>{{ r.name }}</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="container">
              <div class="row">
                <div class="col-md-6 offset-md-3 col-sm-12">
                  <div class="price">
                    <span>Ціна:</span>
                    <p>{{ r.price }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

        <form method="POST" #r="ngForm"
              *ngFor="let r of restaurant"
              class="order-form" novalidate
              (ngSubmit)="onSubmit(r)"
              [formGroup]="myRestaurantForm">

          <!--input id must be honeypot or else it wont work-->
          <label class="sr-only">Keep this field blank</label>
          <input id="honeypot" type="text"
                 name="honeypot" value=""
                 formControlName='honeypot'/>
          <!--the rest of your form-->

          <div class="container">
            <div class="row">
              <div class="col-md-6 offset-md-3 col-sm-12">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Ім'я" formControlName="name" name="name"
                         pattern="[\u0400-\u04ff][\u0400-\u04ff ]+">
                  <mat-error *ngIf="myRestaurantForm.get('name').invalid && myRestaurantForm.get('name').touched">
                    Введіть не менше <strong>3</strong> і не більше <strong>15</strong> літер імені кирилицею
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>

          <div class="container">
            <div class="row">
              <div class="col-md-6 offset-md-3 col-sm-12">
                <mat-form-field class="example-full-width">
                  <span matPrefix>+38 &nbsp;</span>
                  <input type="tel" matInput
                         placeholder="Телефон" formControlName="mobile" name="mobile"
                         (keypress)="onlyNumberKey($event)">

                  <mat-error *ngIf="myRestaurantForm.get('mobile').invalid
                  && (myRestaurantForm.get('mobile').dirty
                  || myRestaurantForm.get('mobile').touched)">
                    Введіть <strong>10</strong> цифр мобільного телефону
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>

          <div class="container">
            <div class="row">
              <div class="col-md-6 offset-md-3 col-sm-12 sex">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Адреса" formControlName="address" name="address">
                  <mat-error *ngIf="myRestaurantForm.get('address').invalid
                  && (myRestaurantForm.get('address').dirty
                  || myRestaurantForm.get('address').touched)">
                    Введіть вулицю і номер будинку
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>

          <div class="container">
            <div class="row pay-type">
              <div class="col-md-6 offset-md-3 col-sm-12">
                <p>Вибір оплати</p>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-md-6 offset-md-3 col-sm-12">
                <mat-radio-group>
                  <mat-radio-button value="1" checked="true">Онлайн оплата</mat-radio-button>
                  <mat-radio-button value="2">Готівка кур'єру</mat-radio-button>
                </mat-radio-group>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-md-6 offset-md-3 col-sm-12">
                <div class="price">
                  <span>Ціна:</span>
                  <p>{{ r.price }}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-md-6 offset-md-3 col-sm-12">
                <mat-checkbox formControlName="checkbox" required>
                  Я згоден з умовами даного
                  <a [routerLink]='["deliveri"]' target="_blank">договору</a>
                </mat-checkbox>
              </div>
            </div>
          </div>

          <div class="container">
            <div class="row">
              <div class="col-md-6 offset-md-3 col-sm-12">
                <div class="buy-link">

                  <button class="remove-order" (click)="removeFromLocalStorage()">Видалити замовлення</button>

                  <button class="submit-btn" type="submit"
                          [disabled]="!myRestaurantForm.valid">Оформити замовлення</button>
                </div>
              </div>
            </div>
          </div>
        </form>

      </div>

      <div class="empty-order">
        <h2>Корзина пуста</h2>
        <p>Для вибору товарів, перейдіть в наш
          <a [routerLink]="['/ration']">каталог товарів</a>
        </p>
      </div>

    <!-- </div>
  </div> -->
</div>
</div>
