<div class="oder order-restourant section">
  <!-- <div class="container">
    <div class="row"> -->
      <!-- <div class="col-md-12">
        <div class="title">
          <h3>оформлення замовлення</h3>
          <p>Якщо ви вже купували -<a [routerLink]='["authorization"]'>авторизуйтесь</a></p>
        </div>
      </div> -->

      <div class="order-title-wrap order-product-list">
        <div class="container">
          <div class="row">
            <div class="col-md-12 order-list-title">
              <p>Товар</p>
              <p>Ціна</p>
              <p>Кількість</p>
              <p>Загалом</p>
            </div>
          </div>
        </div>
      </div>

      <!-- <div class="order-title-wrap ">
        <div class="container">
          <div class="row">

          </div>
        </div>
      </div> -->

      <div class="order-item order-product-list">

        <div class="order-item">
          
          <div class="order-title" *ngFor="let r of restaurant; let i = index;">
            <div class="container">
              <div class="row">
                <div class="col-md-12 col-sm-12">
                  <div class="item-name">
                      <button class="remove-order" (click)="removeProduct(r.id)">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 212.982 212.982" style="enable-background:new 0 0 212.982 212.982;" xml:space="preserve" width="512px" height="512px">
                          <g id="Close">
                            <path style="fill-rule:evenodd;clip-rule:evenodd;" d="M131.804,106.491l75.936-75.936c6.99-6.99,6.99-18.323,0-25.312   c-6.99-6.99-18.322-6.99-25.312,0l-75.937,75.937L30.554,5.242c-6.99-6.99-18.322-6.99-25.312,0c-6.989,6.99-6.989,18.323,0,25.312   l75.937,75.936L5.242,182.427c-6.989,6.99-6.989,18.323,0,25.312c6.99,6.99,18.322,6.99,25.312,0l75.937-75.937l75.937,75.937   c6.989,6.99,18.322,6.99,25.312,0c6.99-6.99,6.99-18.322,0-25.312L131.804,106.491z" fill="#D80027"/>
                          </g>
                          <g>
                          </g>
                          <g>
                          </g>
                          <g>
                          </g>
                          <g>
                          </g>
                          <g>
                          </g>
                          <g>
                          </g>
                          <g>
                          </g>
                          <g>
                          </g>
                          <g>
                          </g>
                          <g>
                          </g>
                          <g>
                          </g>
                          <g>
                          </g>
                          <g>
                          </g>
                          <g>
                          </g>
                          <g>
                          </g>
                        </svg>
                      </button>
                    <img [src]="r.imageUrl">
                    <div>
                      <p>{{ r.name }}</p>
                    </div>
                  </div>

                  <div class="price">
                    <span>Ціна:</span>
                    <!--<p>{{ items[i] }} штук по {{ r.price / items[i] }} грн = {{ r.price }} грн</p>-->
                    <!-- <p>{{ r.pieces }} x {{ r.price / r.pieces }} грн = {{ r.price }} грн</p> -->
                    <p>{{ r.price / r.pieces }} грн</p>
                  </div>

                  <div class="total-products">
                    <span>Кількість:</span>
                    <p>{{ r.pieces }}</p>
                  </div>

                  <div class="price total-price">
                    <span>Загальна ціна:</span>
                    <!-- <p>{{total}} грн</p> -->
                    <p>{{ (r.price / r.pieces) * r.pieces }} грн</p>
                  </div>

                </div>
              </div>
            </div>
            <!-- <div class="container">
              <div class="row">
                <div class="col-md-6 offset-md-3 col-sm-12">
                  <div class="price">
                    <span>Ціна:</span>
                    <p>{{ r.pieces }} x {{ r.price / r.pieces }} грн = {{ r.price }} грн</p>
                  </div>
                </div>
              </div>
            </div> -->
          </div>
          <!-- <div class="container">
            <div class="row">
              <div class="col-md-6 offset-md-3 col-sm-12">
                <div class="price">
                  <span>Загальна ціна:</span>
                  <p>{{total}} грн</p>
                </div>
              </div>
            </div>
          </div> -->

          <form method="POST" #r="ngForm"
              class="order-form" novalidate
              (ngSubmit)="onSubmit(r)"
              [formGroup]="myRestaurantForm">

          <!--input id must be honeypot or else it wont work-->
          <!-- <label class="sr-only">Keep this field blank</label>
          <input id="honeypot" type="text"
                 name="honeypot" value=""
                 formControlName='honeypot'/> -->
          <!--the rest of your form-->

          <div class="container">
            <div class="row">
              <div class="col-md-6 offset-md-3 col-sm-12">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Ім'я" formControlName="name" name="name"
                         pattern="[\u0400-\u04ff][\u0400-\u04ff ]+">
                  <mat-error *ngIf="myRestaurantForm.get('name').invalid && myRestaurantForm.get('name').touched">
                    Введіть не менше <strong>3</strong> і не більше <strong>15</strong> літер імені кирилицею
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>

          <div class="container phone-input">
            <div class="row">
              <div class="col-md-6 offset-md-3 col-sm-12">
                <mat-form-field class="example-full-width">
                  <span matPrefix>+38 &nbsp;</span>
                  <input type="tel" matInput
                         placeholder="Телефон" formControlName="mobile" name="mobile"
                         (keypress)="onlyNumberKey($event)">

                  <mat-error *ngIf="myRestaurantForm.get('mobile').invalid
                  && (myRestaurantForm.get('mobile').dirty
                  || myRestaurantForm.get('mobile').touched)">
                    Введіть <strong>10</strong> цифр мобільного телефону
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>

          <div class="container">
            <div class="row">
              <div class="col-md-6 offset-md-3 col-sm-12 sex">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Вулиця"
                         name="address"
                         pattern="[\u0400-\u04ff][\u0400-\u04ff ]+">
                  <!-- <mat-error *ngIf="myRestaurantForm.get('address').invalid &&
                   (myRestaurantForm.get('address').dirty || myRestaurantForm.get('address').touched)">
                    Введіть вулицю (не менше трьох літер, не використовуючи цифр)
                  </mat-error> -->
                </mat-form-field>
              </div>
              <div class="col-md-3 offset-md-3 col-sm-6 sex">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Номер будинку"
                         name="house">
                  <!-- <mat-error *ngIf="myRestaurantForm.get('house').invalid &&
                   (myRestaurantForm.get('house').dirty || myRestaurantForm.get('house').touched)">
                    Номер будинку (не менше однієї і не більше трьох цифр)
                  </mat-error> -->
                </mat-form-field>
              </div>
              <div class="col-md-3 col-sm-6 sex">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Номер квартири"
                         name="room">
                  <!-- <mat-error *ngIf="myRestaurantForm.get('room').invalid &&
                   (myRestaurantForm.get('room').dirty || myRestaurantForm.get('room').touched)">
                    Номер квартири (не менше однієї і не більше трьох цифр)
                  </mat-error> -->
                </mat-form-field>
              </div>
            </div>
          </div>

          <div class="container">
            <div class="row pay-type">
              <div class="col-md-6 offset-md-3 col-sm-12">
                <p>Вибір оплати</p>
              </div>
            </div>
          </div>

          <!-- <div class="container">
            <div class="row">
              <div class="col-md-6 offset-md-3 col-sm-12">
                <label>Оберіть інтервал доставки</label>
                <mat-form-field>
                  <mat-select placeholder="Мінімальний інтервал 2 години" formControlName="delivery">
                    <mat-option *ngFor="let t of time" [value]="t.value">
                      {{t.value}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-md-6 offset-md-3 col-sm-12">
                <label>Оберіть дату доставки</label>
                <mat-form-field>
                  <input matInput [matDatepicker]="picker" placeholder="Choose a date" formControlName="datepicker">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
          </div> -->

          <div class="container form-price">
            <div class="row">
              <div class="col-md-6 offset-md-3 col-sm-12">
                <mat-radio-group>
                  <!-- <mat-radio-button value="Онлайн оплата">Онлайн оплата</mat-radio-button> -->
                  <mat-radio-button value="Готівка курєру">Готівкою кур’єру</mat-radio-button>
                </mat-radio-group>
              </div>
            </div>
          </div>

          <div class="container">
            <div class="row">
              <div class="col-md-6 offset-md-3 col-sm-12">
                <div class="price sum-price">
                  <span>Загальна сума:</span>
                  <p>{{total}} грн</p>
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="container">
            <div class="row">
              <div class="col-md-6 offset-md-3 col-sm-12">
                <mat-checkbox formControlName="checkbox" required>
                  Я згоден з умовами даного
                  <a [routerLink]='["deliveri"]' target="_blank">договору</a>
                </mat-checkbox>
              </div>
            </div>
          </div> -->

          <div class="container">
            <div class="row">
              <div class="col-md-6 offset-md-3 col-sm-12">
                <div class="buy-link">

                  <button class="submit-btn" type="submit"
                    [disabled]="!myRestaurantForm.valid">Оформити замовлення
                  </button>

                  <button class="remove-order" (click)="removeFromLocalStorage()">
                    Видалити замовлення
                  </button>

                </div>
              </div>
            </div>
          </div>
        </form>

        </div>
          <!-- </div>
        </div> -->
      </div>

      <div class="empty-order">
        <h2>Корзина пуста</h2>
        <p>Для вибору товарів, перейдіть в наш
          <a [routerLink]="['/ration']">каталог товарів</a>
        </p>
      </div>

</div>
