.oder {
  background: #fff;
  position: relative;
  min-height: calc(100vh - 249px);
  margin-top: 110px;


  h3 {
    color: #000;
    width: 100%;
  }

  p {
    width: 100%;
    margin-bottom: 50px;
    color: #000;
  }

  a {
    color: #88AB31;
    transition: .3s;
    position: relative;
    opacity: .7;

    &:hover {
      transition: .3s;
      opacity: 1;
    }
  }

  .empty-order {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h2 {
      color: #000;
      margin-bottom: 20px;
    }

    p {
      text-align: center;
      margin-bottom: 0;
    }
  }

  .order-title-wrap {
    z-index: 1;
    position: relative;

    .order-list-title {
      display: grid;
      grid-template-columns: 48% 17% 15% 17%;
      grid-gap: 1%;
      align-items: center;
      padding: 10px 0;
      background: #ebebeb;

      p {
        margin-bottom: 0;
        text-align: center;

        &:first-child {
          text-align: center;
        }
      }
    }
  }

  // .order-product-list {
  //   .row {
  //     display: grid;
  //     grid-template-columns: 49% 17% 17% 17%;
  //     align-items: center;
  //     padding: 10px 0;
  //   }
  // }

  .order-item {
    // padding: 50px;
    background: #fff;
    width: 100%;
    // padding-top: 50px;
    position: relative;
    z-index: 3;

    p {
      color: #0A0807;
      font-size: 18px;
      margin-bottom: 0;
      display: block;
      text-align: center;
    }

  }

  .order-title {
    // display: flex;
    width: 100%;
    align-items: center;
    margin-bottom: 50px;

    .col-md-12 {
      padding-left: 0;
      padding-right: 0;
      display: grid;
      grid-template-columns: 48% 17% 15% 17%;
      grid-gap: 1%;
      align-items: center;
    }
  }

  .item-name {
    display: flex;
    // flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    & > div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    p {
      text-align: left;
      margin-left: 15px;
    }

    img {
      width: 100%;
      margin-bottom: 15px;
      max-width: 250px;
    }

    .remove-order {
      background: transparent;
      border: none;
      margin-top: 15px;

      svg {
        width: 20px;
        height: 20px;

        path {
          fill: #88AB31 !important;
          stroke: #88AB31;
        }
      }
    }

  }

  .days {
    margin: 15px 0;
    p {
      display: flex;
      justify-content: center;
      font-size: 25px
    }
    span {
      color: #0A0807;
      font-size: 25px;
      margin: 0 5px;
      display: block;
      text-align: center;
    }
  }

  .price, .total-products {
    display: flex;
    align-items: center;
    justify-content: center;
    // justify-content: flex-end;
    margin: 15px 0;
    width: 100%;
    // border-bottom: 1px solid #8c8b8b;

    p {
      color: #88AB31;
      width: auto;
      // margin-left: 15px;
    }

    span {
      display: none;
    }
  }

  .order-form {
    .col-md-12 {
      display: flex;
      align-items: center;

      &>.col-md-6, &>.col-md-12 {
        padding: 0;
      }

      .col-md-6 {
        &>.col-md-6, &>.col-md-12 {
          padding: 0;
        }
      }
    }

    // .col-md-4 {
    //   margin-bottom: 50px;
    // }

    input {
      width: 100%;
    }

    .mat-radio-button {
      margin: 10px 0;
    }

    .mat-radio-group {
      display: flex;
      flex-direction: column;
    }

    .to {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 30px;
      font-weight: bold;
    }

    .time {
      display: flex;
      justify-content: flex-end;
      width: 100%;
      p {
        padding: 10px;
        border-radius: 5px;
        font-size: 12px;
        width: auto;
      }
    }

    .sex {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }

  }

  .pay-type {
    margin-top: 20px;

    p {
      text-align: left;
      margin-bottom: 20px;
    }

    .mat-radio-group {
      display: flex;
      flex-direction: column;
    }

    .mat-radio-button {
      margin-bottom: 30px;
    }
  }

  .order-btn {
    margin-top: 50px;
  }

  .buy-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    width: 100%;

    .submit-btn {
      background: #88AB31;
      font-size: 21px;
      padding: 10px 25px;
      border-radius: 90px;
      color: #fff;
      -webkit-transition: .3s;
      transition: .3s;
      border: none;
      height: 50px;
      box-sizing: border-box;
      cursor: pointer;
      position: relative;

      &:disabled {
        background: #ccc;
        cursor: not-allowed;
        opacity: .7;

        &:hover {
          opacity: .7;
        }
      }

    }

    .remove-order, .continue-order {
      background: #88AB31;
      font-size: 21px;
      padding: 10px 25px;
      border-radius: 90px;
      color: #fff;
      -webkit-transition: .3s;
      transition: .3s;
      border: none;
      height: 50px;
      box-sizing: border-box;
      cursor: pointer;
      margin-bottom: 30px;
    }
    .continue-order {
      background: #F89406;
    }
    a {
      color: #fff;

      &:hover {
        text-decoration: none;
      }
    }
  }

  .sum-price {
    display: flex;
    align-items: center;
    flex-direction: row !important;

    span {
      display: block;
      font-size: 24px;
      margin-right: 5px;
    }

    p {
      font-size: 24px;
    }
  }

  .form-price {
    .price {
      span {
        margin-right: 10px;
      }
      p {
        font-size: 30px;
      }
    }
  }

}

@media(max-width: 992px) {
	.oder {
    margin-top: 85px;
    
    .price, .total-products {
      flex-direction: column;

      span {
        display: block;
        margin-bottom: 5px;
      }
    }

    .order-title-wrap {
      display: none;
    }
  }
}

@media (max-width: 767px) {
  .oder {

    // .order-item {
    //   padding: 50px 0;
    // }

    .order-title {
      flex-direction: column;
      margin-bottom: 0;

      .col-md-12 {
        margin-bottom: 20px;
        grid-template-columns: 33% 33% 33%;
        grid-template-areas: 'name name name' 'price total total-price'
      }
    }

    .order-form {
      .col-md-12 {
        display: block;
      }
      .time {
        justify-content: center;
      }
    }

    .price {
      justify-content: center;
      // margin-bottom: 30px;
      grid-area: price;
    }

    .buy-link {
      justify-content: center;
      margin-top: 30px;
    }

    .item-name {
      grid-area: name;
      // justify-content: center;
    }

    .total-products {
      grid-area: total;
    }

    .total-price {
      grid-area: total-price;
    }


  }
}

@media (max-width:576px) {
	.oder {
	  margin-top: 60px;
	}
}

@media (max-width: 550px) {
  .oder {
    .dish-container {
      .dish-price {
        height: auto;
        flex-direction: column;
      }
      .mat-form-field {
        margin-left: 0;
        margin: 30px 
      }
      .full-price {
        margin-left: 0;
      }
    }
  }
}
@media (max-width: 400px) {
  .oder {
    .order-title {
      .col-md-12 {
        grid-template-columns: 50% 50%;
        grid-template-areas: 'name name' 'price total' 'total-price total-price';
      }
    }
  }
}