<div class="dish-container">
  <div class="container">
    <div class="row">

      <div class="col-md-6">
        <div class="dish-img" [routerLink]='["brysketa-guakamole"]'>
          <p>Бруската з гуакамоле - 180г</p>
          <img src="../../../../assets/img/restourant/bryskety/brysketa-guakamole.jpg" alt="brysketa-guakamole.img">
        </div>
      </div>

      <div class="col-md-6">
        <div class="dish-name">
          <p>Бруската з гуакамоле - 180г</p>
        </div>
        <div class="dish-price">
          99рн
          <mat-form-field class="example-full-width">
            <input matInput type="number" value="1">
          </mat-form-field>
        </div>
        <div class="storage">
          З слабосоленим лососем, крем сиром та огірковою сальсою
        </div>
        <div class="nutritional-value">
          Харчова цінність страви (грам):
          білки - <span>13,3</span>; 
          жири - <span>18</span>;
          вуглуводи - <span>23,7</span>;
          ккал - <span>309</span>;
        </div>
        <div class="buy-link">
          <a><i class="fa fa-shopping-bag"></i>Замовити</a>
        </div>
      </div>

    </div>
  </div>
</div>