<div class="dish-container" *ngFor="let restaurant of restaurants">
  <div class="container">
    <div class="row">

      <div class="col-md-6">
        <div class="dish-img" [routerLink]='["turkey-burger"]'>
          <p>{{ restaurant.name }}</p>
          <img [src]="restaurant.imageUrl" alt="turkey-burger.jpg">
        </div>
      </div>

      <div class="col-md-6">
        <div class="dish-name">
          <p>{{ restaurant.name }}</p>
        </div>
        <div class="dish-price">
          124грн
          <mat-form-field class="example-full-width">
            <input matInput type="number" value="1">
          </mat-form-field>
        </div>
        <div class="nutritional-value">
          Харчова цінність страви (грам):
          білки - <span>22,2</span>;
          жири - <span>28,4</span>;
          вуглуводи - <span>77</span>;
          ккал - <span>525,6</span>;
        </div>
        <div class="buy-link">
          <a (click)="orderProduct()" [routerLink]="['/order-restaurant']">
            <i class="fa fa-shopping-bag"></i>
            {{ buttonText }}
          </a>
        </div>
      </div>

    </div>
  </div>
</div>
