<div class="price section">
    <div class="container">
      <div class="row">

        <div class="col-md-12">

          <h3>
            прайс
          </h3>

          <div class="table-wrap">
            <table>
              <thead>
                <tr>
                  <th>
                    <b> Програма</b>
                  </th>
                  <th>
                    2 дня
                  </th>
                  <th>
                    6 днів
                  </th>
                  <th>
                    14 днів
                  </th>
                  <th>
                    24 дня
                  </th>
                  <th>
                    30 днів
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <a [routerLink]='["/lower1000descr"]'>Зниження 1000 ккал
                      <div class="kal-price">

                        <i class="fa fa-shopping-bag"></i>
                        <p>
                          4 бокси
                        </p>
                        
                      </div>
                    </a>
                  </td>
                  <td>
                    1 800
                    <span class="grn">грн</span>
                  </td>
                  <td>
                    5 200
                    <span class="grn">грн</span>
                  </td>
                  <td>
                    10 000
                    <span class="grn">грн</span>
                  </td>
                  <td>
                    19 000
                    <span class="grn">грн</span>
                  </td>
                  <td>
                    22 000
                    <span class="grn">грн</span>
                  </td>
                </tr>
                <tr>
                  <td>
                    <a [routerLink]='["/lower1500descr"]'>Зниження 1500 ккал
                      <div class="kal-price">

                        <i class="fa fa-shopping-bag"></i>
                        <p>
                          5 боксів
                        </p>
                        
                      </div>
                    </a>
                  </td>
                  <td>
                    1 900
                    <span class="grn">грн</span>
                  </td>
                  <td>
                    5 600&nbsp;
                    <span class="grn">грн</span>
                  </td>
                  <td>
                    11 000
                    <span class="grn">грн</span>
                  </td>
                  <td>
                    21 000
                    <span class="rubl">грн</span>
                  </td>
                  <td>
                    23 000
                    <span class="grn">грн</span>
                  </td>
                </tr>
                <tr>
                  <td>
                    <a [routerLink]='["/balance2000descr"]'>Баланс 2000 ккал
                      <div class="kal-price">

                        <i class="fa fa-shopping-bag"></i>
                        <p>
                          5 боксів
                        </p>
                        
                      </div>
                    </a>
                  </td>
                  <td>
                    2 000
                    <span class="grn">грн</span>
                  </td>
                  <td>
                    5 800&nbsp;
                    <span class="grn">грн</span>
                  </td>
                  <td>
                    11 500
                    <span class="grn">грн</span>
                  </td>
                  <td>
                    22 000
                    <span class="grn">грн</span>
                  </td>
                  <td>
                    24 000
                    <span class="grn">грн</span>
                  </td>
                </tr>
                <tr>
                  <td>
                    <a [routerLink]='["/set2500descr"]'>Набір 2500 ккал
                      <div class="kal-price">

                        <i class="fa fa-shopping-bag"></i>
                        <p>
                          6 боксів
                        </p>
                        
                      </div>
                    </a>
                  </td>
                  <td>
                    2 100
                    <span class="grn">грн</span>
                  </td>
                  <td>
                    6 000&nbsp;
                    <span class="grn">грн</span>
                  </td>
                  <td>
                    12 000
                    <span class="grn">грн</span>
                  </td>
                  <td>
                    23 000
                    <span class="grn">грн</span>
                  </td>
                  <td>
                    25 000
                    <span class="grn">грн</span>
                  </td>
                </tr>
                <tr>
                  <td>
                    <a [routerLink]='["/set3500descr"]'>Набір 3000 ккал
                      <div class="kal-price">

                        <i class="fa fa-shopping-bag"></i>
                        <p>
                          6 боксів
                        </p>
                        
                      </div>
                    </a>
                  </td>
                  <td>
                    2 300
                    <span class="grn">грн</span>
                  </td>
                  <td>
                    6 400&nbsp;
                    <span class="grn">грн</span>
                  </td>
                  <td>
                    12 800
                    <span class="grn">грн</span>
                  </td>
                  <td>
                    25 000
                    <span class="grn">грн</span>
                  </td>
                  <td>
                    27 000
                    <span class="grn">грн</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="freez">
            <ul>
              <li>Заморозки</li>
              <li><span>-</span>За умови придбання харчування на 2 і 6 днів заморозити дні доставки неможливо.</li>
              <li><span>-</span>За умови придбання харчування на 12 днів у вас є можливість заморозити 4 дня доставки.</li>
              <li><span>-</span>За умови придбання харчування на 24 дня у вас є можливість заморозити 10 днів доставки.</li>
              <li><span>-</span>За умови придбання харчування на 30 днів у вас є можливість заморозити 14 днів доставки.</li>
              <li>*У разі зміни адреси доставки і тимчасового інтервалу менш ніж за добу, стягується додатково оплата в розмірі ...</li>
            </ul>
          </div>


        </div>

      </div>
    </div>
</div>

<pf-delivery></pf-delivery>