<div class="price section">
    <div class="container">
      <div class="row">

        <div class="col-md-12">

          <h3>
            прайс
          </h3>

          <div class="table-wrap">
            <table>
              <thead>
                <tr>
                  <th>
                    <b> Программа</b>
                  </th>
                  <th>
                    2 дня
                  </th>
                  <th>
                    6 дней
                  </th>
                  <th>
                    12 дней
                  </th>
                  <th>
                    24 дня
                  </th>
                  <th>
                    30 дней
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <a href="#">Снижение веса 1000 ккал
                      <div class="kal-price">

                        <i class="fa fa-shopping-bag"></i>
                        <p>
                          4 бокси
                        </p>
                        
                      </div>
                    </a>
                  </td>
                  <td>
                    1 800
                    <span class="grn">грн</span>
                  </td>
                  <td>
                    5 200
                    <span class="grn">грн</span>
                  </td>
                  <td>
                    10 000
                    <span class="grn">грн</span>
                  </td>
                  <td>
                    19 000
                    <span class="grn">грн</span>
                  </td>
                  <td>
                    22 000
                    <span class="grn">грн</span>
                  </td>
                </tr>
                <tr>
                  <td>
                    <a href="#">Снижение веса 1000 ккал
                      <div class="kal-price">

                        <i class="fa fa-shopping-bag"></i>
                        <p>
                          4 бокси
                        </p>
                        
                      </div>
                    </a>
                  </td>
                  <td>
                    1 900
                    <span class="grn">грн</span>
                  </td>
                  <td>
                    5 600&nbsp;
                    <span class="grn">грн</span>
                  </td>
                  <td>
                    11 000
                    <span class="grn">грн</span>
                  </td>
                  <td>
                    21 000
                    <span class="rubl">грн</span>
                  </td>
                  <td>
                    23 000
                    <span class="grn">грн</span>
                  </td>
                </tr>
                <tr>
                  <td>
                    <a href="#">Снижение веса 1000 ккал
                      <div class="kal-price">

                        <i class="fa fa-shopping-bag"></i>
                        <p>
                          4 бокси
                        </p>
                        
                      </div>
                    </a>
                  </td>
                  <td>
                    2 000
                    <span class="grn">грн</span>
                  </td>
                  <td>
                    5 800&nbsp;
                    <span class="grn">грн</span>
                  </td>
                  <td>
                    11 500
                    <span class="grn">грн</span>
                  </td>
                  <td>
                    22 000
                    <span class="grn">грн</span>
                  </td>
                  <td>
                    24 000
                    <span class="grn">грн</span>
                  </td>
                </tr>

                <tr>
                  <td>
                    <a href="#">Снижение веса 1000 ккал
                      <div class="kal-price">

                        <i class="fa fa-shopping-bag"></i>
                        <p>
                          4 бокси
                        </p>
                        
                      </div>
                    </a>
                  </td>
                  <td>
                    2 100
                    <span class="grn">грн</span>
                  </td>
                  <td>
                    6 000&nbsp;
                    <span class="grn">грн</span>
                  </td>
                  <td>
                    12 000
                    <span class="grn">грн</span>
                  </td>
                  <td>
                    23 000
                    <span class="grn">грн</span>
                  </td>
                  <td>
                    25 000
                    <span class="grn">грн</span>
                  </td>
                </tr>
                <tr>
                  <td>
                    <a href="#">Снижение веса 1000 ккал
                      <div class="kal-price">

                        <i class="fa fa-shopping-bag"></i>
                        <p>
                          4 бокси
                        </p>
                        
                      </div>
                    </a>
                  </td>
                  <td>
                    2 300
                    <span class="grn">грн</span>
                  </td>
                  <td>
                    6 400&nbsp;
                    <span class="grn">грн</span>
                  </td>
                  <td>
                    12 800
                    <span class="grn">грн</span>
                  </td>
                  <td>
                    25 000
                    <span class="grn">грн</span>
                  </td>
                  <td>
                    27 000
                    <span class="grn">грн</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="freez">
            <ul>
              <li>Заморозки</li>
              <li><span>-</span>При покупке питания на 2 и 6 дней заморозить дни доставки невозможно.</li>
              <li><span>-</span>При покупке питания на 12 дней у вас есть возможность заморозить 4 дня доставки.</li>
              <li><span>-</span>При покупке питания на 24 дня у вас есть возможность заморозить 10 дней доставки.</li>
              <li><span>-</span>При покупке питания на 30 дней у вас есть возможность заморозить 14 дней доставки.</li>
              <li>*В случае изменения адреса доставки и временного интервала менее чем за сутки, взимается дополнительно оплата в размере 300 руб.</li>
            </ul>
          </div>


        </div>

      </div>
    </div>
</div>

<pf-delivery></pf-delivery>