<div class="dish-container">
  <div class="container">
    <div class="row">

      <div class="col-md-6">
        <div class="dish-img" [routerLink]='["veal-burger"]'>
          <p>Бургер з телятиною - 350гр</p>
          <img src="../../../../assets/img/restourant/burgers/veal-burger.jpg" alt="veal-burger.img">
        </div>
      </div>

      <div class="col-md-6">
        <div class="dish-name">
          <p>Бургер з телятиною - 350гр</p>
        </div>
        <div class="dish-price">
          146грн
          <mat-form-field class="example-full-width">
            <input matInput type="number" value="1">
          </mat-form-field>
        </div>
        <div class="nutritional-value">
          Харчова цінність страви (грам):
          білки - <span>40,6</span>; 
          жири - <span>15,8</span>;
          вуглуводи - <span>45,7</span>;
          ккал - <span>393,1</span>;
        </div>
        <div class="buy-link">
          <a><i class="fa fa-shopping-bag"></i>Замовити</a>
        </div>
      </div>

    </div>
  </div>
</div>