<div class="dish-container">
  <div class="container">
    <div class="row">

      <div class="col-md-6">
        <div class="dish-img" [routerLink]='["cheesecake"]'>
          <p>Сирна запіканка з яблуком та корицею - 150г</p>
          <img src="../../../../assets/img/restourant/desserts/cheesecake.jpg" alt="cheesecake.jpg">
        </div>
      </div>

      <div class="col-md-6">
        <div class="dish-name">
          <p>Сирна запіканка з яблуком та корицею - 150г</p>
        </div>
        <div class="dish-price">
          55грн
          <mat-form-field class="example-full-width">
            <input matInput type="number" value="1">
          </mat-form-field>
        </div>
        <div class="nutritional-value">
          Харчова цінність страви (грам):
          білки - <span>4,7</span>; 
          жири - <span>12,5</span>;
          вуглуводи - <span>20,6</span>;
          ккал - <span>209</span>;
        </div>
        <div class="buy-link">
          <a><i class="fa fa-shopping-bag"></i>Замовити</a>
        </div>
      </div>

    </div>
  </div>
</div>