<div class="dish-container">
  <div class="container">
    <div class="row">

      <div class="col-md-6">
        <div class="dish-img" [routerLink]='["beet-salad"]'>
          <p>Салат з печеного буряка з ростбіфом - 230г</p>
          <img src="../../../../assets/img/restourant/salaty/beet-salat.jpg" alt="beet-salat.img">
        </div>
      </div>

      <div class="col-md-6">
        <div class="dish-name">
          <p>Салат з печеного буряка з ростбіфом - 230г</p>
        </div>
        <div class="dish-price">
          102рн
          <mat-form-field class="example-full-width">
            <input matInput type="number" value="1">
          </mat-form-field>
        </div>
        <div class="storage">
          З крем сиром і імбирним соусом
        </div>
        <div class="nutritional-value">
          Харчова цінність страви (грам):
          білки - <span>13,4</span>; 
          жири - <span>20</span>;
          вуглуводи - <span>13,6</span>;
          ккал - <span>285</span>;
        </div>
        <div class="buy-link">
          <a><i class="fa fa-shopping-bag"></i>Замовити</a>
        </div>
      </div>

    </div>
  </div>
</div>