<div class="balance-descr product-descr section" *ngFor="let product of products">
  <h1>
    {{ product.name }} 
    <div class="kal-price">
      <i class="fa fa-shopping-bag"></i>
      <p>4 бокси</p>
    </div>
  </h1>
  <div class="container">
    <div class="row product-descr-wrap">
      <div class="col-md-6 product-descr-text">
        <div class="cal-wrap">
          <p class="hidden-md-up">В середньому на день</p>
          <div class="calories">
            <p class="hidden-sm-down">В середньому на день</p>
            <div class="cal-item">
              <span class="first">{{ product.id }}</span>ккал
            </div>
            <div class="cal-item">
              <span>120</span>білків
            </div>
            <div class="cal-item">
              <span>28</span>жирів
            </div>
            <div class="cal-item">
              <span>80</span>вуглеводів
            </div>
          </div>
          <!-- <div class="kal-price">
            <i class="fa fa-shopping-bag"></i>
            <p>4 бокси</p>
          </div> -->
        </div>
        <div class="program-descr">
          <a class="program-title" href="#">{{ product.name }}</a>
          <p>Кількість днів</p>
          <div class="buy-block">
            <div class="price" *ngIf="selectedValue">{{ selectedValue }} грн</div>
            <div class="price" *ngIf="!selectedValue">0 грн</div>
            <div class="price-by-day">* {{ product.dayPrice }} грн/день</div>
            <div class="days">
              <mat-form-field>
                <mat-select placeholder="Виберіть тривалість" [formControl]="daysControl"
                            (change)="onSelected($event.value)"
                            [(ngModel)]="selectedValue" required>
                  <mat-option>--</mat-option>
                  <mat-option *ngFor="let day of days" [value]="day.price">
                    {{day.number}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="daysControl.hasError('required')">Виберіть тривалість курсу</mat-error>
              </mat-form-field>
            </div>
            <div class="buy-link hidden-md-down">
              <a [routerLink]="['/order']" (click)="orderProduct()">
                <i class="fa fa-shopping-bag"></i>Замовити
              </a>
            </div>
          </div>
        </div>
        <div class="feature">
          <div class="row">
            <div class="col-md-6">
              <p>Особливості</p>
              <ul>
                <li>
                  <i class="fa fa-check"></i>для професійних спортсменів і початківців атлетів;
                </li>
                <li>
                  <i class="fa fa-check"></i>оптимальний вміст білків, жирів і вуглеводів;
                </li>
                <li>
                  <i class="fa fa-check"></i>отримання 2500 ккал в день.
                </li>
              </ul>
            </div>
            <div class="col-md-6">
              <p>Результат</p>
              <ul>
                <li>
                  <i class="fa fa-check"></i>ефективний метод набору мязевої маси.
                </li>
                <!-- <li>
                  <i class="fa fa-check"></i>сохранение отличного эмоционального состояния.</li> -->
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <img [src]="product.imageUrl">
      </div>
    </div>
  </div>
  <!-- <div class="week-menu">
    <h1>приблизне меню на тиждень</h1>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <mat-tab-group>
            <mat-tab *ngFor="let w of week" label="{{ w.day }}">
              <div class="container">
                <div class="row">
                  <div class="col-md-3">
                    <p class="number">{{ w.first }}:</p>
                    <div class="food">
                      <img [src]="w.image1"> {{ w.description1 }}
                    </div>
                    <div class="kkal">
                      <span>{{ w.span1 }} ккал</span>
                      <span>{{ w.span2 }} б</span>
                      <span>{{ w.span3 }} ж</span>
                      <span>{{ w.span4 }} у</span>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <p class="number">{{ w.second }}:</p>
                    <div class="food">
                      <img [src]="w.image2"> {{ w.description2 }}
                    </div>
                    <div class="kkal">
                      <span>{{ w.span5 }} ккал</span>
                      <span>{{ w.span6 }} б</span>
                      <span>{{ w.span7 }} ж</span>
                      <span>{{ w.span8 }} у</span>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <p class="number">{{ w.third }}:</p>
                    <div class="food">
                      <img [src]="w.image3"> {{ w.description3 }}
                    </div>
                    <div class="kkal">
                      <span>{{ w.span9 }} ккал</span>
                      <span>{{ w.span10 }} б</span>
                      <span>{{ w.span11 }} ж</span>
                      <span>{{ w.span12 }} у</span>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <p class="number">{{ w.fourth }}:</p>
                    <div class="food">
                      <img [src]="w.image4"> {{ w.description4 }}
                    </div>
                    <div class="kkal">
                      <span>{{ w.span13 }} ккал</span>
                      <span>{{ w.span14 }} б</span>
                      <span>{{ w.span15 }} ж</span>
                      <span>{{ w.span16 }} у</span>
                    </div>
                  </div>
                </div>
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </div>
  </div> -->
  <div class="others-program">
    <h1>інші програми</h1>
    <pf-lower-1000></pf-lower-1000>
    <pf-lower-1500></pf-lower-1500>
    <pf-balance-2000></pf-balance-2000>
    <pf-set-3500></pf-set-3500>
  </div>
</div>