<div class="contacts">
  <div class="container">
    <div class="row">

      <div class="left-side col-lg-6 col-md-12">
        <a href="https://goo.gl/maps/sn45sLrQBDN2" target="_blank">
          <i class="fa fa-map-marker"></i>
          м. Львів вул. Порохова 20Д
        </a>
        <a href="tel:+380968011490">
          <i class="fa fa-phone"></i>
          +38 (096) 801 14 90 - Доставка з меню ресторану
        </a>
        <a href="tel:+380968011492">
          <i class="fa fa-phone"></i>
          +38 (096) 801 14 92 - Доставка збалансованих раціонів
        </a>
        <p>
          <i class="fa fa-clock"></i>
          10:00 - 22:00 - Режим роботи ресторану
        </p>
      </div>

      <div class="right-side col-lg-6 col-md-12">
        <div>
            <iframe src="https://snazzymaps.com/embed/59718"></iframe>
        </div>
      </div>

    </div>
  </div>
</div>