<div class="delivery section">
  <div class="container">
    <div class="row">

      <div class="col-md-12">

        <h3>
          доставка
        </h3>

        <p class="deliv-title">
          <i class="fa fa-truck"></i>
          Найближчу доставку можливо отримати через добу після того як замовлення було оброблене і підтверджений менеджером по телефону.
        </p>

        <div class="table-wrap">
          <table>
            <thead>
              <tr>
                <th>
                  Город
                </th>
                <th>
                  Время доставки
                </th>
                <th>
                  Дни доставки
                </th>
                <th>
                  Стоимость доставки
                </th>
                <th>
                  Способ оплаты
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  В пределах МКАД
                </td>
                <td>
                  6:00 – 12:00 с выбором двухчасового интервала
                </td>
                <td>
                  По всем программам через день с рационом питания на 2 дня* <br>
                  *Программы питания на 12 дней и 24 дня – можно выбрать ПОНЕДЕЛЬНИК, СРЕДА, ПЯТНИЦА
                </td>
                <td>
                  Бесплатно
                </td>
                <td>
                  <ul>
                    <li>Наличными или банковской картой курьеру</li>
                    <li>Банковской картой на сайте</li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td>
                  МКАД до 50 км
                </td>
                <td>
                  6:00 – 12:00 с выбором двухчасового интервала
                </td>
                <td>
                  По всем программам через день с рационом питания на 2 дня* <br>
                  *Программы питания на 12 дней и 24 дня – можно выбрать ПОНЕДЕЛЬНИК, СРЕДА, ПЯТНИЦА
                </td>
                <td>
                  СОГЛАСНО ТАРИФАМ ТРАНСПОРТНОЙ КОМПАНИИ
                </td>
                <td>
                  <ul>
                    <li>Наличными или банковской картой курьеру</li>
                    <li>Банковской картой на сайте</li>
                  </ul>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
      
    </div>
  </div>
</div>
