<div class="delivery section">
  <div class="container">
    <div class="row">

      <div class="col-md-12">

        <h3>
          доставка і оплата
        </h3>

        <div class="table-wrap">
          <table class="tg">
            <thead>
              <tr>
                <td></td>
                <td>Місто</td>
                <td>Час доставки</td>
                <td>Дні доставки</td>
                <td>Вартість доставки</td>
                <td>Спосіб оплати</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td rowspan="2" class="bold">Ресторан</td>
                <td>В межах Львова</td>
                <td>10:00 - 21:00</td>
                <td>Пн - Нд</td>
                <td>
                  <ul>
                    <li>Замовлення до 300 грн - 70 грн</li>
                    <li>Замовлення від 300 грн - безкоштовна</li>
                  </ul>
                </td>
                <td rowspan="2">
                  <ul>
                    <li>Готівкою кур'єру</li>
                    <li>Банківською картою на сайті</li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td>За межами Львова до 15 км.</td>
                <td>10:00 - 21:00</td>
                <td>Пн - Нд</td>
                <td>
                  <ul>
                    <li>Замовлення до 600 грн - 150 грн</li>
                    <li>Замовлення від 600 грн - безкоштовна</li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td rowspan="2" class="bold">Раціони</td>
                <td>В межах Львова</td>
                <td>7:00 - 11:00</td>
                <td>По усім програмам через день з раціоном харчування на 2 дні* *Програми харчування на 12 і 24 дні - можна обрати: Понеділок, Середа, П'ятниця.</td>
                <td>Безкоштовна</td>
                <td rowspan="2">
                  <ul>
                    <li>Готівкою кур'єру</li>
                    <li>Банківською картою на сайті</li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td>За межами Львова до 15 км.</td>
                <td>7:00 - 11:00</td>
                <td>По усім програмам через день з раціоном харчування на 2 дні* *Програми харчування на 12 і 24 дні - можна обрати: Понеділок, Середа, П'ятниця.</td>
                <td>150 грн</td>
              </tr>
            </tbody>
          </table>
        </div>

        <!-- <p class="deliv-title">
          <i class="fa fa-truck"></i>
          Спеціально для Ваших цілей, ми пропонуємо 3 програмив: підтримка ваги, набір маси, зниження ваги. В рамках кожної з програм передбачено вибір калорійності. Для отримання додаткової інформації зв'яжіться з нашим менеджером по телефону +38-096-801-14-92 або заповніть форму зворотного зв'язку.
        </p> -->

        <!-- <div class="table-wrap">
          <table>
            <thead>
              <tr>
                <th>
                  Город
                </th>
                <th>
                  Время доставки
                </th>
                <th>
                  Дни доставки
                </th>
                <th>
                  Стоимость доставки
                </th>
                <th>
                  Способ оплаты
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  В пределах МКАД
                </td>
                <td>
                  6:00 – 12:00 с выбором двухчасового интервала
                </td>
                <td>
                  По всем программам через день с рационом питания на 2 дня* <br>
                  *Программы питания на 12 дней и 24 дня – можно выбрать ПОНЕДЕЛЬНИК, СРЕДА, ПЯТНИЦА
                </td>
                <td>
                  Бесплатно
                </td>
                <td>
                  <ul>
                    <li>Наличными или банковской картой курьеру</li>
                    <li>Банковской картой на сайте</li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td>
                  МКАД до 50 км
                </td>
                <td>
                  6:00 – 12:00 с выбором двухчасового интервала
                </td>
                <td>
                  По всем программам через день с рационом питания на 2 дня* <br>
                  *Программы питания на 12 дней и 24 дня – можно выбрать ПОНЕДЕЛЬНИК, СРЕДА, ПЯТНИЦА
                </td>
                <td>
                  СОГЛАСНО ТАРИФАМ ТРАНСПОРТНОЙ КОМПАНИИ
                </td>
                <td>
                  <ul>
                    <li>Наличными или банковской картой курьеру</li>
                    <li>Банковской картой на сайте</li>
                  </ul>
                </td>
              </tr>
            </tbody>
          </table>
        </div> -->

      </div>
      
    </div>
  </div>
</div>
