<div class="dish-container">
  <div class="container">
    <div class="row">

      <div class="col-md-6">
        <div class="dish-img" [routerLink]='["cheese-pear"]'>
          <p>Груша запечена з сирним мусом - 120г</p>
          <img src="../../../../assets/img/restourant/desserts/cheese-pear.jpg" alt="cheese-pear.jpg">
        </div>
      </div>

      <div class="col-md-6">
        <div class="dish-name">
          <p>Груша запечена з сирним мусом - 120г</p>
        </div>
        <div class="dish-price">
          63грн
          <mat-form-field class="example-full-width">
            <input matInput type="number" value="1">
          </mat-form-field>
        </div>
        <div class="nutritional-value">
          Харчова цінність страви (грам):
          білки - <span>1,9</span>; 
          жири - <span>2,5</span>;
          вуглуводи - <span>17,8</span>;
          ккал - <span>100</span>;
        </div>
        <div class="buy-link">
          <a><i class="fa fa-shopping-bag"></i>Замовити</a>
        </div>
      </div>

    </div>
  </div>
</div>