<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-xs-12 left-wrap">
				<div class="left-side">
					<a href="https://goo.gl/maps/sn45sLrQBDN2" target="_blank">
						<i class="fa fa-map-marker"></i>
						м. Львів вул. Порохова 20Д
					</a>
					<a href="tel:+380968011490">
						<i class="fa fa-phone"></i>
						+38 (096) 801 14 90 - Ресторан
					</a>
					<a href="tel:+380968011492">
						<i class="fa fa-phone"></i>
						+38 (096) 801 14 92 - Доставка
					</a>
					<p>
						<i class="fa fa-clock"></i>
						10:00 - 22:00
					</p>
					<p>
						<i class="fa fa-at"></i>
						powerfood.info@gmail.com
					</p>
				</div>
			</div>
			<div class="col-md-4 col-xs-12 center-wrap">
				<div class="center">
					<div class="footer-soc">
						<a href="https://www.facebook.com/powerfoodlviv/" target="_blank">
							<i class="fa fa-facebook-f"></i>
						</a>
						<a href="https://www.instagram.com/powerfoodlviv/" target="_blank">
							<i class="fa fa-instagram"></i>
						</a>
					</div>
					<div class="footer-pay">
							<img class="cash" src="../assets/img/cash.png">
							<img class="visa" src="../assets/img/visa.png">
							<img class="master-card" src="../assets/img/master-card.png">
					</div>
				</div>
			</div>
			<div class="col-md-4 col-xs-12 right-wrap">
				<div class="feedback">
					<button (click)='popupMenu=!popupMenu'>
						Замовити зворотній дзвінок
					</button>
				</div>
			</div>
		</div>
	</div>
</footer>


<div class="feedback-popup" [ngClass]="{'popup-menu':popupMenu}">
	<div class="container">
		<div class="row">
			<div class="popup-wrap col-md-8 offset-md-2 col-sm-10 offset-sm-1 col-xs-12">
				<div class="close-popup">
					<i class="fa fa-times-circle" (click)='popupMenu=!popupMenu'></i>
				</div>
				<h3>
					Зворотній дзвінок
				</h3>
				<form id="needs-validation-2">
					<span>
						Ваше ім'я
					</span>
					<input type="text" class="form-control">
					<span>
						Телефон
					</span>
					<input type="number" class="form-control">
					<button type="submit">
						Відправити
					</button>
				</form>
			</div>
		</div>
	</div>
</div>