<div class="dish-container">
  <div class="container">
    <div class="row">

      <div class="col-md-6">
        <div class="dish-img" [routerLink]='["cherry-musse"]'>
          <p>Organic desert з вишнево-смородиновим мусом - за 100г</p>
          <img src="../../../../assets/img/restourant/desserts/cherry-musse.jpg" alt="cherry-musse.jpg">
        </div>
      </div>

      <div class="col-md-6">
        <div class="dish-name">
          <p>Organic desert з вишнево-смородиновим мусом - за 100г</p>
        </div>
        <div class="dish-price">
          61грн
          <mat-form-field class="example-full-width">
            <input matInput type="number" value="1">
          </mat-form-field>
        </div>
        <div class="nutritional-value">
          Харчова цінність страви (грам):
          білки - <span>12,8</span>; 
          жири - <span>5,8</span>;
          вуглуводи - <span>17,1</span>;
          ккал - <span>171</span>;
        </div>
        <div class="buy-link">
          <a><i class="fa fa-shopping-bag"></i>Замовити</a>
        </div>
      </div>

    </div>
  </div>
</div>