<div class="dish-container">
  <div class="container">
    <div class="row">

      <div class="col-md-6">
        <div class="dish-img" [routerLink]='["shrimp-salad"]'>
          <p>Салат з креветками - 170г</p>
          <img src="../../../../assets/img/restourant/salaty/shrimp-salat.jpg" alt="shrimp-salat.img">
        </div>
      </div>

      <div class="col-md-6">
        <div class="dish-name">
          <p>Салат з креветками - 170г</p>
        </div>
        <div class="dish-price">
          148рн
          <mat-form-field class="example-full-width">
            <input matInput type="number" value="1">
          </mat-form-field>
        </div>
        <div class="storage">
          З авокадо, міксом салату, чері та оливковою заправкою
        </div>
        <div class="nutritional-value">
          Харчова цінність страви (грам):
          білки - <span>9,2</span>; 
          жири - <span>24,7</span>;
          вуглуводи - <span>5,6</span>;
          ккал - <span>282</span>;
        </div>
        <div class="buy-link">
          <a><i class="fa fa-shopping-bag"></i>Замовити</a>
        </div>
      </div>

    </div>
  </div>
</div>