<div class="dish-container">
  <div class="container">
    <div class="row">

      <div class="col-md-6">
        <div class="dish-img" [routerLink]='["brysketa-rostbif"]'>
          <p>Бруската з ростбіфом - 185г</p>
          <img src="../../../../assets/img/restourant/bryskety/brysketa-rostbif.jpg" alt="brysketa-rostbif.img">
        </div>
      </div>

      <div class="col-md-6">
        <div class="dish-name">
          <p>Бруската з ростбіфом - 185г</p>
        </div>
        <div class="dish-price">
          94рн
          <mat-form-field class="example-full-width">
            <input matInput type="number" value="1">
          </mat-form-field>
        </div>
        <div class="storage">
          На пасті з нуту, кремовим сиром та карамелізованою цибулею
        </div>
        <div class="nutritional-value">
          Харчова цінність страви (грам):
          білки - <span>15,4</span>; 
          жири - <span>9</span>;
          вуглуводи - <span>27</span>;
          ккал - <span>250</span>;
        </div>
        <div class="buy-link">
          <a><i class="fa fa-shopping-bag"></i>Замовити</a>
        </div>
      </div>

    </div>
  </div>
</div>