<div class="dish-container">
  <div class="container">
    <div class="row">

      <div class="col-md-6">
        <div class="dish-img" [routerLink]='["lanch-N3"]'>
          <p>Ланч N3 132/200г з 12:00 - 15:00</p>
          <img src="../../../../assets/img/restourant/lanch/lanch-3.jpg" alt="lanch-N3.img">
        </div>
      </div>

      <div class="col-md-6">
        <div class="dish-name">
          <p>Ланч N3 132/200г з 12:00 - 15:00</p>
        </div>
        <div class="dish-price">
          138грн
          <mat-form-field class="example-full-width">
            <input matInput type="number" value="1">
          </mat-form-field>
        </div>
        <div class="storage">
          Салат з печеним гарбузом, спаржевою квасолею з гарбузовим соусом та оливковою олією; Парові котлети з індички з кольоровими соусами ти диким рисом
        </div>
        <div class="nutritional-value">
          Харчова цінність страви (грам):
          білки - <span>17,3</span>; 
          жири - <span>13,6</span>;
          вуглуводи - <span>44</span>;
          ккал - <span>369</span>;
        </div>
        <div class="buy-link">
          <a><i class="fa fa-shopping-bag"></i>Замовити</a>
        </div>
      </div>

    </div>
  </div>
</div>