<div class="oder section">
  <div class="container">
    <div class="row">
      <!-- <div class="col-md-12">
        <div class="title">
          <h3>оформлення замовлення</h3>
          <p>Якщо ви вже купували -<a [routerLink]='["authorization"]'>авторизуйтесь</a></p>
        </div>
      </div> -->
      <div class="order-item">
        <div class="order-title" *ngFor="let p of product">
          <div class="col-md-6 col-sm-12 offset-md-3">
            <div class="item-name">
              <img [src]="p.imageUrl">
              <p>{{ p.name }}</p>
            </div>
            <div class="days">
              <p>Тривалість
                <span>12</span> днів
              </p>
            </div>
            <div class="price">
              <span>Ціна:</span>
              <p>{{ p.price }}</p>
            </div>
          </div>
          <!-- <div class="col-md-4 col-sm-12">
            <div class="days">
              <p>Тривалість
                <span>12</span> днів
              </p>
            </div>
          </div> -->
          <!-- <div class="col-md-4 col-sm-12">
            <div class="price">
              <span>Ціна:</span>
              <p>{{ p.price }}</p>
            </div>
          </div> -->
        </div>

        <form class="order-form" *ngFor="let p of product">

          <div class="container">
            <div class="row">

              <div class="col-md-6 col-sm-12 offset-md-3">

                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Ім'я" [formControl]="nameFormControl" [errorStateMatcher]="matcher">
                    <mat-error *ngIf="nameFormControl.hasError('name') && !nameFormControl.hasError('required')">
                      Please enter a valid name
                    </mat-error>
                    <mat-error *ngIf="nameFormControl.hasError('required')">
                      Name is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>

                  <mat-form-field class="example-full-width">
                    <span matPrefix>+38 &nbsp;</span>
                    <input type="tel" matInput placeholder="Телефон" [formControl]="mobileFormControl" [errorStateMatcher]="matcher">
  
                    <mat-error *ngIf="mobileFormControl.hasError('mobile') && !mobileFormControl.hasError('required')">
                      Please enter a valid mobile
                    </mat-error>
                    <mat-error *ngIf="mobileFormControl.hasError('required')">
                      Mobile is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>

                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Адреса" [formControl]="addressFormControl" [errorStateMatcher]="matcher">
                    <mat-error *ngIf="addressFormControl.hasError('address') && !addressFormControl.hasError('required')">
                      Please enter a valid address
                    </mat-error>
                    <mat-error *ngIf="addressFormControl.hasError('required')">
                      Address is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>

              </div>

              <!-- <div class="col-md-4 col-sm-12">
                <mat-form-field class="example-full-width">
                  <span matPrefix>+38 &nbsp;</span>
                  <input type="tel" matInput placeholder="Телефон" [formControl]="mobileFormControl" [errorStateMatcher]="matcher">

                  <mat-error *ngIf="mobileFormControl.hasError('mobile') && !mobileFormControl.hasError('required')">
                    Please enter a valid mobile
                  </mat-error>
                  <mat-error *ngIf="mobileFormControl.hasError('required')">
                    Mobile is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>

              <div class="col-md-4 col-sm-12 sex">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Адреса" [formControl]="addressFormControl" [errorStateMatcher]="matcher">
                  <mat-error *ngIf="addressFormControl.hasError('address') && !addressFormControl.hasError('required')">
                    Please enter a valid address
                  </mat-error>
                  <mat-error *ngIf="addressFormControl.hasError('required')">
                    Address is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div> -->
            </div>
          </div>

          <!-- <div class="container">
            <div class="row">
              <div class="col-md-4 col-sm-12">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Прізвище" [formControl]="surnameFormControl" [errorStateMatcher]="matcher">
                  <mat-error *ngIf="surnameFormControl.hasError('surname') && !surnameFormControl.hasError('required')">
                    Please enter a valid surname
                  </mat-error>
                  <mat-error *ngIf="surnameFormControl.hasError('required')">
                    Surname is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>

              <div class="col-md-4 col-sm-12"> -->
                <!-- <mat-form-field class="example-full-width">
                  <input matInput placeholder="Ім'я" [formControl]="nameFormControl" [errorStateMatcher]="matcher">
                  <mat-error *ngIf="nameFormControl.hasError('name') && !nameFormControl.hasError('required')">
                    Please enter a valid name
                  </mat-error>
                  <mat-error *ngIf="nameFormControl.hasError('required')">
                    Name is <strong>required</strong>
                  </mat-error>
                </mat-form-field> -->
              <!-- </div>

              <div class="col-md-4 col-sm-12">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="По батькові" [formControl]="midnameFormControl" [errorStateMatcher]="matcher">
                  <mat-error *ngIf="midnameFormControl.hasError('midname') && !midnameFormControl.hasError('required')">
                    Please enter a valid middle name
                  </mat-error>
                  <mat-error *ngIf="midnameFormControl.hasError('required')">
                    Middle name is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>

          <div class="container">
            <div class="row">
              <div class="col-md-4 col-sm-12">

                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Адреса" [formControl]="addressFormControl" [errorStateMatcher]="matcher">
                  <mat-error *ngIf="addressFormControl.hasError('address') && !addressFormControl.hasError('required')">
                    Please enter a valid address
                  </mat-error>
                  <mat-error *ngIf="addressFormControl.hasError('required')">
                    Address is <strong>required</strong>
                  </mat-error>
                </mat-form-field>

              </div> -->

              <!-- <div class="col-md-8 col-sm-12">
                <div class="row">
                  <div class="col-md-5 col-xs-5">
                    <mat-form-field>
                      <mat-select placeholder="Доставка з:">
                        <mat-option value="option1">
                          09:00
                        </mat-option>
                        <mat-option value="option2">
                          10:00
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-md-2 col-xs-5 to">
                    -
                  </div>
                  <div class="col-md-5 col-xs-5">
                    <mat-form-field>
                      <mat-select placeholder="Доставка до:">
                        <mat-option value="option1">
                          09:00
                        </mat-option>
                        <mat-option value="option2">
                          10:00
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="time">
                    <p>Мінімальний інтервал доставки 2 години</p>
                  </div>
                </div>
              </div> -->

            <!-- </div>
          </div> -->
          
          <div class="container">
            <div class="row pay-type">
              <div class="col-md-6 col-sm-12 offset-md-3">
                <p>Вибір оплати</p>
              </div>
              <div class="col-md-6 col-sm-12 offset-md-3">
                <mat-radio-group>
                  <mat-radio-button value="1" checked="true">Онлайн оплата</mat-radio-button>
                  <mat-radio-button value="2">Готівка кур'єру</mat-radio-button>
                </mat-radio-group>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <!-- <div class="col-md-6 col-sm-12">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Промокод">
                </mat-form-field>
              </div> -->
              <div class="col-md-6 col-sm-12 offset-md-3">
                <div class="price">
                  <span>Ціна:</span>
                  <p>{{ p.price }}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-md-6 col-sm-12 offset-md-3">
                <div class="col-md-12">
                  <mat-checkbox>
                    Я згоден з умовами даного <a [routerLink]='["deliveri"]'>договору</a>
                  </mat-checkbox>
                </div>
                <!-- <div class="col-md-12">
                  <mat-checkbox>
                    Я хочу отримувати свіжі новини і дізнаватися про акції
                  </mat-checkbox>
                </div> -->
              </div>
            </div>
          </div>

          <div class="container">
            <div class="row">
              <div class="col-md-6 col-sm-12 offset-md-3">
                <div class="buy-link">
                  <a href="#">
                    <i class="fa fa-shopping-bag"></i>Оформити замовлення <!-- todo send letter to email -->
                  </a>
                </div>
              </div>
            </div>
          </div>

        </form>


      </div>

    </div>
  </div>
</div>