<div class="oder section">
  <!-- <div class="container">
    <div class="row"> -->

      <div class="order-title-wrap order-product-list">
        <div class="container">
          <div class="row">
            <div class="col-md-12 order-list-title">
              <p>Товар</p>
              <p>Тривалість</p>
              <p>Ціна</p>
            </div>
          </div>
        </div>
      </div>

      <div class="order-item">
        <div class="order-title" *ngFor="let p of product">
          <div class="container">
            <div class="row">
              <div class="col-md-12 col-sm-12">

                <div class="item-name">
                  <img [src]="p.imageUrl">
                  <p>{{ p.name }}</p>
                </div>

                <div class="days">
                  <p>
                    <!-- <span>{{ p.price/200 }}</span> днів -->
                    <span>2</span> дні
                  </p>
                </div>

                <div class="price">
                  <!-- <span>Ціна:</span> -->
                  <p>{{ p.price }} грн</p>
                </div>

              </div>
            </div>
          </div>
          <!-- <div class="container">
            <div class="row">
              <div class="col-md-6 offset-md-3 col-sm-12">
                <div class="days">
                  <p>Тривалість
                    <span>{{ p.price/200 }}</span> днів
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-md-6 offset-md-3 col-sm-12">
                <div class="price">
                  <span>Ціна:</span>
                  <p>{{ p.price }}</p>
                </div>
              </div>
            </div>
          </div> -->
        </div>
        <form method="POST" #f="ngForm"
              *ngFor="let p of product"
              class="order-form" novalidate
              (ngSubmit)="onSubmit(f)"
              [formGroup]="myform">

          <!--input id must be honeypot or else it wont work-->
          <label class="sr-only">Keep this field blank</label>
          <input id="honeypot" type="text"
                 name="honeypot" value=""
                 formControlName='honeypot'/>
          <!--the rest of your form-->

          <div class="container">
            <div class="row">
              <div class="col-md-6 offset-md-3 col-sm-12">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Ім'я" formControlName="name" name="name"
                           pattern="[\u0400-\u04ff][\u0400-\u04ff ]+">
                    <mat-error *ngIf="myform.get('name').invalid && myform.get('name').touched">
                      Введіть не менше <strong>3</strong> і не більше <strong>15</strong> літер імені кирилицею
                    </mat-error>
                  </mat-form-field>
              </div>
            </div>
          </div>

          <div class="container">
            <div class="row">
              <div class="col-md-6 offset-md-3 col-sm-12">
                <mat-form-field class="example-full-width">
                  <span matPrefix>+38 &nbsp;</span>
                  <input type="tel" matInput
                         placeholder="Телефон" formControlName="mobile" name="mobile"
                         (keypress)="onlyNumberKey($event)">

                  <mat-error *ngIf="myform.get('mobile').invalid && (myform.get('mobile').dirty || myform.get('mobile').touched)">
                    Введіть <strong>10</strong> цифр мобільного телефону
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </div>

          <div class="container">
            <div class="row">
              <div class="col-md-6 offset-md-3 col-sm-12 sex">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Вулиця"
                         formControlName="address" name="address"
                         pattern="[\u0400-\u04ff][\u0400-\u04ff ]+">
                  <mat-error *ngIf="myform.get('address').invalid && (myform.get('address').dirty || myform.get('address').touched)">
                    Введіть вулицю (не менше трьох літер)
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-6 offset-md-3 col-sm-12 sex">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Номер будинку"
                         formControlName="house" name="house">
                  <mat-error *ngIf="myform.get('house').invalid && (myform.get('house').dirty || myform.get('house').touched)">
                    Номер будинку (не менше однієї і не більше трьох цифр)
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-6 offset-md-3 col-sm-12 sex">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Номер квартири"
                         formControlName="room" name="room">
                  <mat-error *ngIf="myform.get('room').invalid && (myform.get('room').dirty || myform.get('room').touched)">
                    Номер квартири (не менше однієї і не більше трьох цифр)
                  </mat-error>
                </mat-form-field>
              </div>

              <div class="col-md-6 offset-md-3 col-sm-12">
                <label>Оберіть інтервал доставки</label>
                <mat-form-field>
                  <mat-select placeholder="Мінімальний інтервал 2 години" formControlName="delivery">
                    <mat-option *ngFor="let t of time" [value]="t.value">
                      {{t.value}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div class="col-md-6 offset-md-3 col-sm-12">
                <label>Оберіть дату доставки</label>
                <mat-form-field>
                  <input matInput [matDatepicker]="picker" placeholder="Choose a date" formControlName="datepicker">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </div>
              
            </div>
          </div>

          <div class="container">
            <div class="row pay-type">
              <div class="col-md-6 offset-md-3 col-sm-12">
                <p>Вибір оплати</p>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-md-6 offset-md-3 col-sm-12">
                <mat-radio-group formControlName="payment">
                  <mat-radio-button value="Онлайн оплата" checked="true">Онлайн оплата</mat-radio-button>
                  <mat-radio-button value="Готівка курєру">Готівка кур'єру</mat-radio-button>
                </mat-radio-group>
              </div>
            </div>
          </div>
          <!-- <div class="container">
            <div class="row">
              <div class="col-md-6 offset-md-3 col-sm-12">
                <label>Оберіть інтервал доставки</label>
                <mat-form-field>
                  <mat-select placeholder="Мінімальний інтервал 2 години" formControlName="delivery">
                    <mat-option *ngFor="let t of time" [value]="t.value">
                      {{t.value}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div> -->
          <!-- <div class="container">
            <div class="row">
              <div class="col-md-6 offset-md-3 col-sm-12">
                <label>Оберіть дату доставки</label>
                <mat-form-field>
                  <input matInput [matDatepicker]="picker" placeholder="Choose a date" formControlName="datepicker">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
          </div> -->

          <div class="container">
            <div class="row">
              <!-- <div class="col-md-6 col-sm-12">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Промокод">
                </mat-form-field>
              </div> -->
              <div class="col-md-6 offset-md-3 col-sm-12">
                <div class="price">
                  <span>Ціна:</span>
                  <p>{{ p.price }} грн</p>
                </div>
              </div>
            </div>
          </div>
          <!--<div class="container">-->
            <!--<div class="row">-->
              <!--<div class="col-md-6 offset-md-3 col-sm-12">-->
                  <!--<mat-checkbox formControlName="checkbox" required>-->
                    <!--Я згоден з умовами даного-->
                    <!--<a [routerLink]='["deliveri"]' target="_blank">договору</a>-->
                  <!--</mat-checkbox>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->

          <div class="container">
            <div class="row">
              <div class="col-md-6 offset-md-3 col-sm-12">
                <div class="buy-link">

                  <button class="remove-order" (click)="removeFromLocalStorage()">Видалити замовлення</button>

                  <button class="submit-btn" type="submit" [disabled]="!myform.valid">Оформити замовлення</button>
                  <!--<button class="submit-btn" type="submit" [disabled]="!myform.valid" [routerLink]='["/thx-page"]'>Оформити замовлення</button>-->
                </div>
              </div>
            </div>
          </div>
        </form>

      </div>

      <div class="empty-order">
        <h2>Корзина пуста</h2>
        <p>Для вибору товарів, перейдіть в наш
          <a [routerLink]="['/ration']">каталог товарів</a>
        </p>
      </div>

    <!-- </div>
  </div> -->

</div>
