<div class="set-2500 product">
  <div class="container">
      <div class="row">


      <div class="col-md-6 program-img">
        <img src="https://levelkitchen.com/upload/iblock/e6c/e6c770196583e33b3826801628f61bce.jpg">
      </div>

      <div class="col-md-6 program-descr">

        <a class="program-title" href="#">
          Набір - 2500ккал
        </a>
        <p>
          Кількість днів
        </p>

        <div class="buy-block">
          <div class="price">
            1200 грн
          </div>
          <div class="price-by-day">
            * 200 грн/день
          </div>
          <div class="days">
            
            <select name="select">
              <option value="value1" selected>6 дн</option> 
              <option value="value2">2 дн</option>
              <option value="value3">12 дн</option>
              <option value="value3">18 дн</option>
              <option value="value3">24 дн</option>
            </select>

            <i class="fa fa-angle-down"></i>
            
          </div>
          <div class="buy-link">
            <a href="#">
                <i class="fa fa-shopping-bag"></i>
                Замовити
            </a>
          </div>
        </div>

        <div class="program-anons">
            Високий вміст білків з підтриманням оптимального рівня жирів і повільних вуглеводів допоможе позбутися від зайвих кілограмів без втрати м'язової маси. Раціон - 1000 ккал.
        </div>

        <div class="calories">
          <p>
            В середньому на день
          </p>

          <div class="cal-item">
            <span class="first">
              1000
            </span>
            ккал
          </div>
          <div class="cal-item">
            <span>
              120
            </span>
            білків
          </div>
          <div class="cal-item">
            <span>
              28
            </span>
            жирів
          </div>
          <div class="cal-item">
            <span>
              80
            </span>
            вуглеводів
          </div>

        </div>

      </div>

    </div>
  </div>
</div>