<div class="dish-container">
  <div class="container">
    <div class="row">

      <div class="col-md-6">
        <div class="dish-img" [routerLink]='["granola"]'>
          <p>Гранола з йогуртом та фруктовим кюлі - 260г</p>
          <img src="../../../../assets/img/restourant/breakfast/granola.jpg" alt="granola.img">
        </div>
      </div>

      <div class="col-md-6">
        <div class="dish-name">
          <p>Гранола з йогуртом та фруктовим кюлі - 260г</p>
        </div>
        <div class="dish-price">
          64рн
          <mat-form-field class="example-full-width">
            <input matInput type="number" value="1">
          </mat-form-field>
        </div>
        <div class="nutritional-value">
          Харчова цінність страви (грам):
          білки - <span>13,8</span>; 
          жири - <span>17,5</span>;
          вуглуводи - <span>77,7</span>;
          ккал - <span>309</span>;
        </div>
        <div class="buy-link">
          <a><i class="fa fa-shopping-bag"></i>Замовити</a>
        </div>
      </div>

    </div>
  </div>
</div>