<div class="dish-container">
  <div class="container">
    <div class="row">

      <div class="col-md-6">
        <div class="dish-img" [routerLink]='["pana-kota"]'>
          <p>Протеїнова пана-кота з полуничним кюлі - 170гр</p>
          <img src="../../../../assets/img/restourant/desserts/pana-cota.jpg" alt="pana-cota.jpg">
        </div>
      </div>

      <div class="col-md-6">
        <div class="dish-name">
          <p>Протеїнова пана-кота з полуничним кюлі - 170гр</p>
        </div>
        <div class="dish-price">
          53грн
          <mat-form-field class="example-full-width">
            <input matInput type="number" value="1">
          </mat-form-field>
        </div>
        <div class="nutritional-value">
          Харчова цінність страви (грам):
          білки - <span>13,1</span>; 
          жири - <span>8,6</span>;
          вуглуводи - <span>8,7</span>;
          ккал - <span>163</span>;
        </div>
        <div class="buy-link">
          <a><i class="fa fa-shopping-bag"></i>Замовити</a>
        </div>
      </div>

    </div>
  </div>
</div>