<div class="dish-container">
  <div class="container">
    <div class="row">

      <div class="col-md-6">
        <div class="dish-img" [routerLink]='["lanch-N2"]'>
          <p>Ланч N2 132/200г з 12:00 - 15:00</p>
          <img src="../../../../assets/img/restourant/lanch/lanch-2.jpg" alt="lanch-N2.img">
        </div>
      </div>

      <div class="col-md-6">
        <div class="dish-name">
          <p>Ланч N2 132/200г з 12:00 - 15:00</p>
        </div>
        <div class="dish-price">
          138грн
          <mat-form-field class="example-full-width">
            <input matInput type="number" value="1">
          </mat-form-field>
        </div>
        <div class="storage">
          Салат з печеної моркви, пюре з нуту та йогуртовим соусом; Філе індички на грилі з соусом із запеченого болгарського перцю та зеленою сочевицею
        </div>
        <div class="nutritional-value">
          Харчова цінність страви (грам):
          білки - <span>27</span>; 
          жири - <span>26,5</span>;
          вуглуводи - <span>28,7</span>;
          ккал - <span>418</span>;
        </div>
        <div class="buy-link">
          <a><i class="fa fa-shopping-bag"></i>Замовити</a>
        </div>
      </div>

    </div>
  </div>
</div>