<div class="catalog section">
  <div class="container">
    <div class="row">
      <div class="col-md-12 catalog-wrap-title" *ngFor="let c of catalog">
        <h3>{{ c.title | uppercase}}</h3>
        <p>{{ c.description}}</p>
        <mat-tab-group>
          <mat-tab *ngFor="let s of state" label="{{ s.name }}">
            <!-- <div class="catalod-desc" >
              <div class="col-lg-6 col-md-12 text">
                <div class="catalog-title">
                  <h4>{{ s.name }}</h4>
                </div>
                <p>{{ s.description }}</p>
              </div>
              <div class="col-lg-6 col-md-12 col-xs-12 img">
                <img [src]="s.image" alt="{{ s.name }}">
              </div>
            </div> -->
            <pf-lower-1000 *ngIf="s.name === 'Зниження'"></pf-lower-1000>
            <pf-lower-1500 *ngIf="s.name === 'Зниження'"></pf-lower-1500>
            <pf-balance-2000 *ngIf="s.name === 'Баланс'"></pf-balance-2000>
            <pf-set-2500 *ngIf="s.name === 'Набір'"></pf-set-2500>
            <pf-set-3500 *ngIf="s.name === 'Набір'"></pf-set-3500>
          </mat-tab>
        </mat-tab-group>
      </div>

    </div>
  </div>
</div>