<div class="catalog section">
  <div class="container">
    <div class="row">

      <h3>
        КАТАЛОГ ПРОГРАМ
      </h3>
      <p>
        Ми пропонуємо 3 програми харчування в залежності від поставлених цілей: підтримка ваги, набір маси і зниження ваги. В рамках кожної з програм передбачено вибір калорійності. Для отримання додаткової інформації зв'яжіться з нашим менеджером по телефону +38-096-801-14-90 або заповніть форму зворотного зв'язку.
      </p>

      <mat-tab-group>

        <mat-tab label="Зниження">

          <div class="catalod-desc">

            <div class="col-lg-6 col-md-12 text">

              <div class="catalog-title">
                <h4>
                  Зниження
                </h4>
              </div>

              <p>
                Програма підійде тим, хто ставить перед собою мету позбутися від зайвих кілограмів. Процес зниження ваги пройде плавно і дозволить зберегти м'язову масу за рахунок правильного співвідношення КБЖУ. Особливість цієї програми - високий вміст білків з підтриманням оптимального рівня жирів і повільних (нізкоглікеміческім) вуглеводів. Страви не містять цукру. На вибір два раціону - 1000 і 1500 ккал.
              </p>

              <div class="order">

                <div class="catalog-price">
                  Від 500 грн/день
                </div>

                <!-- <a>
                  Детальніше про програму
                  <span>
                    &rarr;
                  </span>
                </a> -->

              </div>

            </div>
            <div class="col-lg-6 col-md-12 col-xs-12 img">
              <img src="https://cdn0.pokupon.ua/uploaded/new_campaign_pictures/452271/data/preview475x230/5.jpg?1518908201">
            </div>
            
          </div>
          
          <pf-lower-1000></pf-lower-1000>
          <pf-lower-1500></pf-lower-1500>

        </mat-tab>

        <mat-tab label="Баланс">

          <div class="catalod-desc">

            <div class="col-lg-6 col-md-12 text">

              <div class="catalog-title">
                <h4>
                  Баланс
                </h4>
              </div>

              <p>
                Програма підійде тим, хто ставить перед собою мету позбутися від зайвих кілограмів. Процес зниження ваги пройде плавно і дозволить зберегти м'язову масу за рахунок правильного співвідношення КБЖУ. Особливість цієї програми - високий вміст білків з підтриманням оптимального рівня жирів і повільних (нізкоглікеміческім) вуглеводів. Страви не містять цукру. На вибір два раціону - 1000 і 1500 ккал.
              </p>

              <div class="order">

                <div class="catalog-price">
                  Від 500 грн/день
                </div>

                <!-- <a>
                  Детальніше про програму
                  <span>
                    &rarr;
                  </span>
                </a> -->

              </div>

            </div>
            <div class="col-lg-6 col-md-12 img">
              <img src="https://cdn0.pokupon.ua/uploaded/new_campaign_pictures/452271/data/preview475x230/5.jpg?1518908201">
            </div>
            
          </div>
          
          <pf-balance-2000></pf-balance-2000>

        </mat-tab>

        <mat-tab label="Набір">

          <div class="catalod-desc">

            <div class="col-lg-6 col-md-12 text">

              <div class="catalog-title">
                <h4>
                  Набір
                </h4>
              </div>

              <p>
                Програма підійде тим, хто ставить перед собою мету позбутися від зайвих кілограмів. Процес зниження ваги пройде плавно і дозволить зберегти м'язову масу за рахунок правильного співвідношення КБЖУ. Особливість цієї програми - високий вміст білків з підтриманням оптимального рівня жирів і повільних (нізкоглікеміческім) вуглеводів. Страви не містять цукру. На вибір два раціону - 1000 і 1500 ккал.
              </p>

              <div class="order">

                <div class="catalog-price">
                  Від 500 грн/день
                </div>

                <!-- <a>
                  Детальніше про програму
                  <span>
                    &rarr;
                  </span>
                </a> -->

              </div>

            </div>
            <div class="col-lg-6 col-md-12 img">
              <img src="https://cdn0.pokupon.ua/uploaded/new_campaign_pictures/452271/data/preview475x230/5.jpg?1518908201">
            </div>
            
          </div>
          
          <pf-set-2500></pf-set-2500>
          <pf-set-3500></pf-set-3500>
          
        </mat-tab>

      </mat-tab-group>
      
    </div>
  </div>
</div>
  