<div class="dish-container" *ngFor="let restaurant of restaurants">
  <div class="container">
    <div class="row">

      <div class="col-md-6">
        <div class="dish-img" [routerLink]='["turkey-file"]'>
          <p>{{ restaurant.name }}</p>
          <div class="dish-img-conteiner">
            <img [src]="restaurant.imageUrl" alt="turkey-file.img">
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="dish-name">
          <p>{{ restaurant.name }}</p>
        </div>
        <div class="storage">
          Філе індички, печений перць, бейбі морква та соус з молодого горошку
        </div>
        <div class="nutritional-value">
          <p>Харчова цінність страви (грам):</p>
          <p>білки - <span>21,9</span>; </p>
          <p>жири - <span>16,6</span>;</p>
          <p>вуглуводи - <span>7,5</span>;</p>
          <p>ккал - <span>267</span>;</p>
        </div>
        <div class="dish-price">
          118 грн
          <mat-form-field class="example-full-width">
            <input type="number" min="1" max="99" required matInput
                    [(ngModel)]="item" value="1" placeholder="1">
          </mat-form-field>
          <p *ngIf="item" class="full-price">Загальна сума: <span>{{ item * 118 }} грн</span> </p>
        </div>

        <div class="buy-link">
          <a *ngIf="!makeOrder" (click)="orderProduct()">
            <i class="fa fa-shopping-bag"></i>{{ buttonText }}
          </a>
          <a *ngIf="makeOrder" [routerLink]="['/order-restaurant']">
            <i class="fa fa-shopping-bag"></i>{{ orderText }}
          </a>
        </div>
      </div>

    </div>
  </div>
</div>