<div class="about section">
  <div class="container">
    <div class="row">

      <h3>
        про компанію
      </h3>

      <div class="about-descr">
        <div class="container">
          <div class="row">

            <div class="col-md-6 col-sm-12">
              <div class="shef-img">
                <img src="https://cdn3.iconfinder.com/data/icons/bodybuilder-posing-showing-muscle/765/superman_gym_hero_protect_muscle_bodybuilder_strong_man-512.png">
              </div>
            </div>

            <div class="col-md-6 col-sm-12">

              <h4>
                Lorem ipsum
              </h4>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur culpa quaerat iusto soluta dignissimos minima harum
                natus ratione eos minus odio explicabo voluptas dolores maxime commodi, corporis sunt excepturi quidem! Delectus
                nam velit autem temporibus dolorem quae incidunt! Incidunt, excepturi quibusdam! Praesentium, dolor eaque
                pariatur dolores corrupti illum, repudiandae placeat ea in voluptas magnam perspiciatis. Amet dolorem maxime
                enim eaque! Perspiciatis quo ab dicta doloremque, placeat quae similique dolorum reprehenderit, harum iusto
                dignissimos magni qui, eligendi necessitatibus! Ipsum mollitia, in et dolore laborum aut, repudiandae, sunt
                facilis soluta quasi vitae! Dolorum quasi distinctio ipsum, reiciendis incidunt sint asperiores voluptatem
                necessitatibus modi sapiente! Eveniet, et rem. Ipsum aliquam magni voluptate perferendis veritatis, explicabo
                obcaecati cum accusantium facilis molestiae laborum doloribus reprehenderit.
              </p>

            </div>

          </div>
        </div>
      </div>

      <div class="why-wee">
        <h3>
          Чому вибирають нас
        </h3>

        <div class="container">
          <div class="row">

            <div class="col-md-6 col-sm-12">
              <div class="why-wee-item">
                <div class="why-wee-icon">
                  <img src="../../assets/img/icons/air-conditioner.png">
                </div>
                <div class="why-wee-text">
                  <p class="title">
                    Відсутність заморожених продуктів
                  </p>
                  <p>
                    Їжа грає важливу роль в житті кожної людини і впливає на стан здоров'я, тому наша компанія не використовує заморозку, а для
                    приготування страв віддає перевагу виключно свіжим продуктам. Ми - за високу якість!
                  </p>
                </div>
              </div>
            </div>

            <div class="col-md-6 col-sm-12">
              <div class="why-wee-item">
                <div class="why-wee-icon">
                    <img src="../../assets/img/icons/scales.png">
                </div>
                <div class="why-wee-text">
                  <p class="title">
                    Контроль
                  </p>
                  <p>
                    Для вашої зручності ми підрахували КБЖУ кожного блюда. Тепер вам будуть відомі точні дані, і ви завжди зможете здійснювати
                    постійний контроль їх вживання. Це допоможе залишатися у формі!
                  </p>
                </div>
              </div>
            </div>

            <div class="col-md-6 col-sm-12">
              <div class="why-wee-item">
                <div class="why-wee-icon">
                  <img src="../../assets/img/icons/delivery-truck.png">
                </div>
                <div class="why-wee-text">
                  <p class="title">
                    Швидка доставка харчування
                  </p>
                  <p>
                    Ми уважно ставимося до доставки, тому зробили її максимально оперативної. Нам хочеться, щоб ви насолоджувалися харчуванням,
                    як можна раніше. Доставка здійснюється в будь-яке місце, що істотно заощадить час.
                  </p>
                </div>
              </div>
            </div>

            <div class="col-md-6 col-sm-12">
              <div class="why-wee-item">
                <div class="why-wee-icon">
                  <img src="../../assets/img/icons/002-recommended.png">
                </div>
                <div class="why-wee-text">
                  <p class="title">
                    Якість смаку
                  </p>
                  <p>
                    У кожній програмі - велика різноманітність страв, але це не заважає нам приділяти особливу увагу смаковим якостям. Меню розроблено
                    спільними зусиллями шеф-кухаря, дієтолога і відомого професійного спортсмена. Правильне харчування має
                    бути як корисним, так і смачним.
                  </p>
                </div>
              </div>
            </div>

            <div class="buy-link">
              <a [routerLink]='["catalog"]'>
                Попробувати програму
              </a>
            </div>
            

          </div>
        </div>
      </div>

    </div>
  </div>
</div>