.restaurant {
	background: #000;

	.container {
		margin-bottom: 50px;

		&:last-child {
			margin-bottom: 0;
		}

		.row {
			display: flex;
			align-items: center;
		}
	}

	.col-md-6 {
		display: flex;
		align-items: center;
	}
	
	h6 {
		color: #fff;
		font-size: 20px;
		text-align: center;
		margin-bottom: 50px;
	}
	
	.menu-item {
		width: 100%;
	}

	.menu-title {
		text-align: left;
		margin-bottom: 15px;

			span {
			font-family: 'Montserrat', sans-serif;
			font-size: 30px;
			text-transform: uppercase;
			color: #fff;
			border: 2px solid #fff;
			padding: 10px 20px;
			display: inline-block;
			// margin-bottom: 15px;
		}	

		p {
			font-size: 25px;
			margin: 30px 0;
		}
	}

	.menu-list {

		ul {
			margin-left: 15px;
		}
		li {
			color: #fff;
			font-size: 20px;
			margin-bottom: 10px;
			margin-left: 10px;
			position: relative;
			line-height: 25px;

			&:before {
				content: "";
				width: 5px;
				height: 5px;
				background: #fff;
				position: absolute;
				border-radius: 90%;
				left: -25px;
				top: 10px;
			}
			
			span {
				color: #F0544F;
				font-size: 22px;
			}
		}
	}

	img {
		width: 100%;
		display: flex;
		height: 100%;
		max-height: 400px;
	}
	
	

}
	
.contact {
	background: url("../../assets/img/contact.jpg") no-repeat center;
	background-size: cover;
	position: relative;
	
	.bg {
		position: absolute;
		width: 100%;
		top: 0;
		bottom: 0;
		background: rgba(0,0,0, .6);
		z-index: 2;
	}
	h3 {
		position: relative;
		z-index: 3;
	}
	.row {
		display: flex;
		align-items: center;
		position: relative;
		z-index: 3;
	}
	.fa {
		margin-right: 15px;
	}
	p {
		font-size: 25px;
		margin-bottom: 20px;
	}
	iframe {
		width: 100%;
		min-height: 300px;
		border: none;
	}
}
  
  @media(max-width: 991px) {
  	.menu {

			.menu-title {
				text-align: center;
			}
  
  		.menu-item {
  			margin-bottom: 30px;
  		}
  
  		.bruschetta-wrap, .spinning-roles-wrap, .main-dishes-wrap {
  			display: flex;
  
  			.bruschetta-img, .spinning-roles-img, .main-dishes-img {
  				order: 2;
  			}
  		}
  	}
	}
	
	@media(max-width: 767px) {
		.contact {

			h3 {
				font-size: 20px;
			}
	
			p {
				font-size: 20px;
			}
		}
	}
  
  @media(max-width: 576px) {
  	.menu {
  		.menu-list {
  			margin-left: 15px;
  		}
		}
		.contact {

			p {
				font-size: 15px;
			}
	
			.fa {
				margin-right: 5px;
			}
		}
  }