<div class="restaurant">
  <div class="container">
    <div class="row">

      <div id="menu" class="menu section">

        <h3>
          Меню ресторану
        </h3>
        <h6>
          Перший у Львові ресторан здорового харчування. Для Вас ми розробили унікальне меню з урахуванням кількості калорій, білків, жирів та вуглеводів. Збалансоване харчування є основою вашого здоров'я  та гарного настрою. В затишній атмосфері нашого ресторану ви зможете гарно провести час, смакуючи різноманітні страви та напої, розроблені за нашою унікальною рецептурою.
        </h6>

        <!-- <div class="slider-wrap">
          <div id="container" class="container">
            <div class="row">
              <div
                ng2-carouselamos
                class="slides-wrapper"
                [items]="items"
                [width]="900"
                [$prev]="prev"
                [$next]="next"
                [$item]="item"
              >
              </div>
            </div>
          </div>
        </div>
        <ng-template #prev>
          <img src="../../assets/img/restourant/arr-left.png" id="left" />
        </ng-template>
        <ng-template #next>
          <img src="../../assets/img/restourant/arr-right.png" id="right" />
        </ng-template>
        <ng-template #item let-item let-i="index">
    
          <div class="items">
            <img src="{{ item.name }}">
          </div>
  
        </ng-template> -->


        <mat-tab-group>

          <mat-tab label="Все меню">
            <div class="container">
              <div class="row">

                <!-- Power luch -->
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                  <app-first-lanch></app-first-lanch>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                  <app-second-lanch></app-second-lanch>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                  <app-third-lanch></app-third-lanch>
                </div>

                <!-- Сніданки -->
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                  <app-omelet></app-omelet>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                  <app-oatmeal></app-oatmeal>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                  <app-granola></app-granola>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                  <app-brusketa-wthis-egg></app-brusketa-wthis-egg>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                  <app-omelet-with-basilica></app-omelet-with-basilica>
                </div>

                <!-- Брускети -->
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                  <app-guakamole></app-guakamole>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                  <app-spinach></app-spinach>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                  <app-rostfib></app-rostfib>
                </div>

                <!-- Бургери -->
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                  <pf-veal-burger></pf-veal-burger>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <pf-green-burger></pf-green-burger>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                  <pf-turkey-burger></pf-turkey-burger>
                </div>

                <!-- Салати -->
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                  <app-shrimp-salat></app-shrimp-salat>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                  <app-beet-salat></app-beet-salat>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                  <app-kinoa-salat></app-kinoa-salat>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                  <app-bylgyr-salat></app-bylgyr-salat>
                </div>

                <!-- Спрінг роли -->
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                  <app-spring-roll-vegatable></app-spring-roll-vegatable>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                  <app-spring-roll-shrimp></app-spring-roll-shrimp>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                  <app-spring-roll-veal></app-spring-roll-veal>
                </div>
                
                <!-- Супи -->
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                  <app-pumpkin-soup></app-pumpkin-soup>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                  <app-carrot-soup></app-carrot-soup>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                  <app-shpinat-soup></app-shpinat-soup>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                  <app-peas-soup></app-peas-soup>
                </div>

                <!-- Основні страви -->
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                  <app-dorado></app-dorado>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                  <app-parovi-kotlety></app-parovi-kotlety>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                  <app-telyacha-vurizka></app-telyacha-vurizka>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                  <app-tyrkey-file></app-tyrkey-file>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                  <app-pasta></app-pasta>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                  <app-bulgur-vegitables></app-bulgur-vegitables>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                  <app-kinoa-vegitables></app-kinoa-vegitables>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                  <app-sochevysya></app-sochevysya>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                  <app-rice></app-rice>
                </div>

                <!-- Десерти -->
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                  <pf-milk-pidding></pf-milk-pidding>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                  <pf-cherry-musse></pf-cherry-musse>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                  <pf-cheesecake></pf-cheesecake>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                  <pf-pana-kota></pf-pana-kota>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                  <pf-cheese-pear></pf-cheese-pear>
                </div>

                <!-- Смузі -->
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                  <pf-classic-smuzi></pf-classic-smuzi>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                  <pf-tropical-smuzi></pf-tropical-smuzi>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                  <pf-green-smuzi></pf-green-smuzi>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                  <pf-fresh-smuzi></pf-fresh-smuzi>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                  <pf-vatamin-smuzi></pf-vatamin-smuzi>
                </div>

                <!-- Портеїнові коклелі -->
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                  <pf-vanil-coclail></pf-vanil-coclail>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                  <pf-chocolate-coclail></pf-chocolate-coclail>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                  <pf-strawberry-coclail></pf-strawberry-coclail>
                </div>

                <!-- Амінокислотні коктелі -->
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                  <pf-apple-coctail></pf-apple-coctail>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                  <pf-mango-coctail></pf-mango-coctail>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                  <pf-cola-laym--coctail></pf-cola-laym--coctail>
                </div>

              </div>
            </div>
          </mat-tab>

          <mat-tab label="Power Lunch з 12:00 по 15:00">
            <div class="container">
              <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                  <app-first-lanch></app-first-lanch>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                  <app-second-lanch></app-second-lanch>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                  <app-third-lanch></app-third-lanch>
                </div>
              </div>
            </div>
          </mat-tab>

          <mat-tab label="Сніданки">
            <div class="container">
              <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                  <app-omelet></app-omelet>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                  <app-oatmeal></app-oatmeal>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                  <app-granola></app-granola>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                  <app-brusketa-wthis-egg></app-brusketa-wthis-egg>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                  <app-omelet-with-basilica></app-omelet-with-basilica>
                </div>
              </div>
            </div>
          </mat-tab>

          <mat-tab label="Брускети">
            <div class="container">
              <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                  <app-guakamole></app-guakamole>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                  <app-spinach></app-spinach>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                  <app-rostfib></app-rostfib>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                  <app-brusketa-wthis-egg></app-brusketa-wthis-egg>
                </div>
              </div>
            </div>
          </mat-tab>

          <mat-tab label="Power Burger"> 

            <div class="container">
              <div class="row">

                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                  <pf-veal-burger></pf-veal-burger>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <pf-green-burger></pf-green-burger>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                  <pf-turkey-burger></pf-turkey-burger>
                </div>

              </div>
            </div>

          </mat-tab>

          <mat-tab label="Салати"> 
            <div class="container">
              <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                  <app-shrimp-salat></app-shrimp-salat>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                  <app-beet-salat></app-beet-salat>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                  <app-kinoa-salat></app-kinoa-salat>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                  <app-bylgyr-salat></app-bylgyr-salat>
                </div>
              </div>
            </div>
          </mat-tab>

          <mat-tab label="Спрінг-роли"> 
            <div class="container">
              <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                  <app-spring-roll-vegatable></app-spring-roll-vegatable>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                  <app-spring-roll-shrimp></app-spring-roll-shrimp>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                  <app-spring-roll-veal></app-spring-roll-veal>
                </div>
              </div>
            </div>
          </mat-tab>

          <mat-tab label="Супи"> 
            <div class="container">
              <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                  <app-pumpkin-soup></app-pumpkin-soup>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                  <app-carrot-soup></app-carrot-soup>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                  <app-shpinat-soup></app-shpinat-soup>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                  <app-peas-soup></app-peas-soup>
                </div>
              </div>
            </div>
          </mat-tab>

          <mat-tab label="Основні страви"> 
            <div class="container">
              <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                  <app-dorado></app-dorado>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                  <app-parovi-kotlety></app-parovi-kotlety>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                  <app-telyacha-vurizka></app-telyacha-vurizka>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                  <app-tyrkey-file></app-tyrkey-file>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                  <app-pasta></app-pasta>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                  <app-bulgur-vegitables></app-bulgur-vegitables>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                  <app-kinoa-vegitables></app-kinoa-vegitables>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                  <app-sochevysya></app-sochevysya>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                  <app-rice></app-rice>
                </div>
              </div>
            </div>
          </mat-tab>

          <mat-tab label="Десерти">
            
            <div class="container">
              <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                  <pf-milk-pidding></pf-milk-pidding>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                  <pf-cherry-musse></pf-cherry-musse>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                  <pf-cheesecake></pf-cheesecake>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                  <pf-pana-kota></pf-pana-kota>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                  <pf-cheese-pear></pf-cheese-pear>
                </div>
              </div>
            </div>
          </mat-tab>

          <mat-tab label="Смузі">
            
            <div class="container">
              <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                  <pf-classic-smuzi></pf-classic-smuzi>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                  <pf-tropical-smuzi></pf-tropical-smuzi>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                  <pf-green-smuzi></pf-green-smuzi>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                  <pf-fresh-smuzi></pf-fresh-smuzi>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                  <pf-vatamin-smuzi></pf-vatamin-smuzi>
                </div>
              </div>
            </div>
          </mat-tab>

          <mat-tab label="Протеїнові коктейлі">
            
            <div class="container">
              <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                  <pf-vanil-coclail></pf-vanil-coclail>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                  <pf-chocolate-coclail></pf-chocolate-coclail>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                  <pf-strawberry-coclail></pf-strawberry-coclail>
                </div>
              </div>
            </div>
          </mat-tab>

          <mat-tab label="Амінокислотні коктейлі">
            
            <div class="container">
              <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                  <pf-apple-coctail></pf-apple-coctail>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                  <pf-mango-coctail></pf-mango-coctail>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                  <pf-cola-laym--coctail></pf-cola-laym--coctail>
                </div>
              </div>
            </div>
          </mat-tab>

        </mat-tab-group>

      </div>
      
    </div>
  </div>
</div>

