<div class="restaurant">
  <div class="container">
    <div class="row">

      <div id="menu" class="menu section">

        <h3>
          Power food
        </h3>
        <h6>
          Перший у Львові ресторан здорового харчування. Для Вас ми розробили унікальне меню з урахуванням кількості калорій, білків, жирів та вуглеводів. Збалансоване харчування є основою вашого здоров'я  та гарного настрою. В затишній атмосфері нашого ресторану ви зможете гарно провести час, смакуючи різноманітні страви та напої, розроблені за нашою унікальною рецептурою.
        </h6>

        <div class="slider-wrap">
          <div id="container" class="container">
            <div class="row">
              <div
                ng2-carouselamos
                class="slides-wrapper"
                [items]="items"
                [width]="900"
                [$prev]="prev"
                [$next]="next"
                [$item]="item"
              >
              </div>
            </div>
          </div>
        </div>

        <ng-template #prev>
          <img src="../../assets/img/restourant/arr-left.png" id="left" />
        </ng-template>
        <ng-template #next>
          <img src="../../assets/img/restourant/arr-right.png" id="right" />
        </ng-template>
        <ng-template #item let-item let-i="index">
    
          <div class="items">
            <img src="{{ item.name }}">
          </div>
  
        </ng-template>


        <div class="container breakfast-wrap">
          <div class="row">
            <div class="col-lg-6 col-md-12 breakfast">

              <div class="menu-item">
                <div class="menu-title">
                  <span>
                    Сніданки
                  </span>
                  <p>
                    Power Food смачні та здорові
                  </p>
                </div>
                <div class="menu-list">
                  <ul>
                    <li>
                      Брускета з яйцем пашот, гарбузовою пастою, крем сиром, печеним перцем та помідорами чері -
                      <span>67 грн</span>
                    </li>
                    <li>
                      Омлет з базиліком, томатами, бейбі моцарелою та міксом салату -
                      <span>57 грн</span>
                    </li>
                    <li>
                      Омлет шпинатний з міксом салату та чері - 
                      <span>49 грн</span>
                    </li>
                    <li>
                      Вівсянка з карамелізованою грушою з корицею, горіхами, фініками та курагою -
                      <span>47 грн</span>
                    </li>
                    <li>
                      Гранола з йогуртом та фруктовим кюлі - 
                      <span>54 грн</span>
                    </li>
                  </ul>
                </div>
              </div>

            </div>
            <div class="col-lg-6 col-md-12 breakfast-img">
              
              <div class="food-img">
                <img src="../../assets/img/breakfast.jpg">
              </div>
              
            </div>
          </div>
        </div>
        <div class="container bruschetta-wrap">
          <div class="row">
            <div class="col-lg-6 col-md-12 bruschetta-img">

              <div class="food-img">
                <img src="../../assets/img/brusketa.jpg">
              </div>
              
            </div>
            <div class="col-lg-6 col-md-12 bruschetta">

              <div class="menu-item">
                <div class="menu-title">
                  <span>
                    Брускети
                  </span>
                  <p>
                    Італійська класика за власними <br>
                    рецептами Power Food
                  </p>
                </div>
                <div class="menu-list">
                  <ul>
                    <li>
                      Брускета з гуакамоле, слабосоленим лососем, крем сиром та огірковою сальсою - 
                      <span>87 грн</span>
                    </li>
                    <li>
                      Брускета з тушеним шпинатом, яйцем скрамбл та бейбі моцарелою - 
                      <span>67 грн</span>
                    </li>
                    <li>
                      Брускета з ростбіфом на пасті з нуту, кремовив сиром та карамелізованою цибульою - 
                      <span>82 грн</span>
                    </li>
                  </ul>
                </div>
              </div>
              
            </div>
          </div>
        </div>
        <div class="container salad-wrap">
          <div class="row">
            <div class="col-lg-6 col-md-12 salad">

              <div class="menu-item">
                <div class="menu-title">
                  <span>
                    Салати
                  </span>
                  <p>
                    Power Food оригінальне поєднання <br>
                    корисних, та поживних інгредієнтів
                  </p>
                </div>
                <div class="menu-list">
                  <ul>
                    <li>
                      Салат з креветками, авокадо, міксом салату, чері та оливковою заправкою - 
                      <span>132 грн</span>
                    </li>
                    <li>
                      Салат з печеного буряка, ростбіфом, крем сиром з інбирним соусом - 
                      <span>89 грн</span>
                    </li>
                    <li>
                      Салат з булгуру, печеного перцю, індички гриль з міксом салату та горіховим соусом - 
                      <span>76 грн</span>
                    </li>
                    <li>
                      Салат з кіноа, печеної моркви, гарбуза та груші гриль з йогуртовим соусом - 
                      <span>67 грн</span>
                    </li>
                  </ul>
                </div>
              </div>
              
            </div>
            <div class="col-lg-6 col-md-12 salad-img">

              <div class="food-img">
                <img src="../../assets/img/salat.jpg">
              </div>
              
            </div>
          </div>
        </div>
        <div class="container spinning-roles-wrap">
          <div class="row">
            <div class="col-lg-6 col-md-12 spinning-roles-img">

              <div class="food-img">
                <img src="../../assets/img/spring-roll.jpg">
              </div>
              
            </div>
            <div class="col-lg-6 col-md-12 spinning-roles">

              <div class="menu-item">
                <div class="menu-title">
                  <span>
                    Спрінг-Роли
                  </span>
                  <p>
                    Свіжість смаку та різноманіття <br>
                    барв, від Бренд-Шефа Power Food
                  </p>
                </div>
                <div class="menu-list">
                  <ul>
                    <li>
                      Овочевий (рисовий папір, листя салату, свіжі овочі, йогуртувий соус) - 
                      <span>42 грн</span>
                    </li>
                    <li>
                      З креветками (рисовий папір, листя салату, свіжі овочі, креветки, йогуртувий соус) - 
                      <span>69 грн</span>
                    </li>
                    <li>
                      З телятиною (рисовий папір, листя салату, свіжі овочі, шматочки телятини, йогуртувий соус) - 
                      <span>67 грн</span>
                    </li>
                  </ul>
                </div>
              </div>
              
            </div>
          </div>
        </div>
        <div class="container soups-wrap">
          <div class="row">
            <div class="col-lg-6 col-md-12 soups">

              <div class="menu-item">
                <div class="menu-title">
                  <span>
                    Супи
                  </span>
                  <p>
                    Кулінарні шедеври від Power Food <br>
                    відчуйте новизну у звичному
                  </p>
                </div>
                <div class="menu-list">
                  <ul>
                    <li>
                      Суп міністроне - 
                      <span>47 грн</span>
                    </li>
                    <li>
                      Суп моркв'яний на кокосовому молоці з крем сиром - 
                      <span>52 грн</span>
                    </li>
                    <li>
                      Суп шпинатний з броколі та індичкою - 
                      <span>52 грн</span>
                    </li>
                    <li>
                      Суп-пюре із зеленого горошку з крем сиром - 
                      <span>49 грн</span>
                    </li>
                  </ul>
                </div>
              </div>
              
            </div>
            <div class="col-lg-6 col-md-12 soups-img">

              <div class="food-img">
                <img src="../../assets/img/soup.jpg">
              </div>
              
            </div>
          </div>
        </div>
        <div class="container main-dishes-wrap">
          <div class="row">
            <div class="col-lg-6 col-md-12 main-dishes-img">

              <div class="food-img">
                <img src="../../assets/img/main-dish.jpg">
              </div>
              
            </div>
            <div class="col-lg-6 col-md-12 main-dishes">

              <div class="menu-item">
                <div class="menu-title">
                  <span>
                    Основні страви
                  </span>
                  <p>
                    Power Food використання інноваційних технологій <br>
                    в приготуванні легких та збалансованих страв
                  </p>
                </div>
                <div class="menu-list">
                  <ul>
                    <li>
                      Дорадо, смажене на вапо-грилі із слайсами цукіні та помідорами чері - 
                      <span>71 грн</span>
                    </li>
                    <li>
                      Парові котлети з індички та шпинату, овочевим соусом та броколі - 
                      <span>92 грн</span>
                    </li>
                    <li>
                      Теляча вирізка з булгуром та карамелізованою цибулею на соусі з молодого горошку - 
                      <span>152 грн</span>
                    </li>
                    <li>
                      Філе індички, смажене на вало-грилі з печеним перцем та бейбі морквою - 
                      <span>104 грн</span>
                    </li>
                    <li>
                      Паста тальятелле з овочами та шматочками телятини з крем соусом із цукіні - 
                      <span>122 грн</span>
                    </li>
                    <li>
                      Булгур з овочами - 
                      <span>48 грн</span>
                    </li>
                    <li>
                      Кіноа з овочами - 
                      <span>62 грн</span>
                    </li>
                    <li>
                      Сочевиця зелена - 
                      <span>32 грн</span>
                    </li>
                    <li>
                      Мікс дикого рису - 
                      <span>39 грн</span>
                    </li>
                  </ul>
                </div>
              </div>
              
            </div>
          </div>
        </div>
        <div class="container desserts-wrap">
          <div class="row">
            <div class="col-lg-6 col-md-12 desserts">

              <div class="menu-item">
                <div class="menu-title">
                  <span>
                    Десерти
                  </span>
                  <p>
                    Power Food справжній вибух  <br>
                    низькокалорійних ласощів
                  </p>
                </div>
                <div class="menu-list">
                  <ul>
                    <li>
                      Печена груша з сирним мусом, журавлиною та горіхами - 
                      <span>48 грн</span>
                    </li>
                    <li>
                      Протеїнова пана-кота з полуничним кюлі - 
                      <span>47 грн</span>
                    </li>
                    <li>
                      Тріо ццукерок з сухофруктами, горіхами та 100% чорним шоколадом - 
                      <span>38 грн</span>
                    </li>
                    <li>
                      Сирна запіканка з яблуком та корицею - 
                      <span>42 грн</span>
                    </li>
                    <li>Молочний пудінг з чіа та сезонними ягодами - 
                      <span>? грн</span>
                    </li>
                    <li>
                      Organic desert з вишнево-смородиновим мусом - 
                      <span>? грн</span>
                    </li>
                  </ul>
                </div>
              </div>
              
            </div>
            <div class="col-lg-6 col-md-12 desserts-img">

              <div class="food-img">
                <img src="../../assets/img/desert.jpg">
              </div>
              
            </div>
          </div>
        </div>


      </div>
      
    </div>
  </div>
</div>

<!--Contact-->
<div class="contact section">
  <div class="bg">
  </div>
  <h3>
    Контакти
  </h3>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12">

        <div class="address">
          <p>
            <i class="fa fa-map-marker"></i>
            м. Львів вул. Порохова 20Д
          </p>
        </div>

        <div class="phone">
          <p>
            <i class="fa fa-phone"></i>
            +38-096-801-14-90
          </p>
        </div>

        <div class="time-work">
          <p>
            <i class="fa fa-clock"></i>
            10:00 - 22:00
          </p>
        </div>

        <div class="email">
          <p>
            <i class="fa fa-at"></i>
            powerfood.info@gmail.com
          </p>
        </div>


      </div>
      <div class="col-lg-6 col-md-12">
        <iframe src="https://snazzymaps.com/embed/59718"></iframe>
      </div>
    </div>
  </div>
</div>
  