.restaurant {
	background: #fff;
	margin-top: 110px;
	min-height: calc(100vh - 200px);

	.mat-tab-header {
		width: 100%;
	}

	.mat-tab-header-pagination-chevron {
		border-color: #88AB31;
		width: 12px;
		height: 12px;
	}
	.mat-tab-header-pagination-disabled {
		opacity: 0;
	}

	#left, #right {
		cursor: pointer;
	}

	.container {
		margin-bottom: 100px;

		&:last-child {
			margin-bottom: 0;
		}

		.row {
			// width: 100%;
		}
	}

	// .col-md-6 {
	// 	display: flex;
	// 	align-items: center;
	// }
	h3 {
		color: #000;
	}

	h6 {
		color: #000;
		font-size: 20px;
		text-align: center;
		margin-bottom: 50px;
	}

	// New styles start
	.mat-tab-label-content {
		color: #000;
  }

  .mat-tab-label-active {
	.mat-tab-label-content {
		color: #fff;
	}
  }
  
  .buy-link {
    display: flex;
    flex-direction: column;
		align-items: center;
		position: relative;

    a {
      width: 200px;

      & + a {
        margin-left: 0;
				margin-top: 15px;
				position: absolute;
				bottom: -55px;
      }
    }
  }
	// News style end





	// .menu-item {
	// 	width: 100%;
	// }

	// .menu-title {
	// 	text-align: left;
	// 	margin-bottom: 15px;

	// 		span {
	// 		font-family: 'Montserrat', sans-serif;
	// 		font-size: 30px;
	// 		text-transform: uppercase;
	// 		color: #fff;
	// 		border: 2px solid #fff;
	// 		padding: 10px 20px;
	// 		display: inline-block;
	// 		// margin-bottom: 15px;
	// 	}

	// 	p {
	// 		font-size: 25px;
	// 		margin: 30px 0;
	// 	}
	// }

	// .menu-list {

	// 	ul {
	// 		margin-left: 15px;
	// 	}
	// 	li {
	// 		color: #fff;
	// 		font-size: 20px;
	// 		margin-bottom: 10px;
	// 		margin-left: 10px;
	// 		position: relative;
	// 		line-height: 25px;

	// 		&:before {
	// 			content: "";
	// 			width: 5px;
	// 			height: 5px;
	// 			background: #fff;
	// 			position: absolute;
	// 			border-radius: 90%;
	// 			left: -25px;
	// 			top: 10px;
	// 		}

	// 		span {
	// 			color: #F0544F;
	// 			font-size: 22px;
	// 		}
	// 	}
	// }

	// img {
	// 	width: 100%;
	// 	display: flex;
	// 	height: 100%;
	// 	max-height: 400px;
	// }

	// .slider-wrap {
	// 	margin-bottom: 50px;
	// }

	// .slides-wrapper {
	// 	width: 100%;

	// 	.div {
	// 		width: 100%;
	// 	}
	// }

	// .items {
  //   width: 100%;
  //   height: auto;
  //   background: #ECECEC;
	// }

	// .ng2-carouselamos {
	// 	display: -webkit-box !important;
	// }

	// .ng2-carouselamos-wrapper {
	// 	width: 80% !important;
	// }

}

.contact {
	background: url("../../assets/img/contact.jpg") no-repeat center;
	background-size: cover;
	position: relative;

	.bg {
		position: absolute;
		width: 100%;
		top: 0;
		bottom: 0;
		background: rgba(0,0,0, .6);
		z-index: 2;
	}
	h3 {
		position: relative;
		z-index: 3;
	}
	.row {
		display: flex;
		align-items: center;
		position: relative;
		z-index: 3;
	}
	.fa {
		margin-right: 15px;
	}
	p {
		font-size: 25px;
		margin-bottom: 20px;
		a {
			font-size: 25px;
			color: #000;
			pointer-events: none;
			&:hover {
				text-decoration: none;
				color: #000;
			}
		}
	}
	iframe {
		width: 100%;
		min-height: 300px;
		border: none;
	}
}

@media(max-width: 992px) {
	.restaurant {
		margin-top: 85px;

		.section {
			padding: 50px 0;
		}
	}
}

@media(max-width: 991px) {
	.menu {

		.menu-title {
			text-align: center;
		}

		.menu-item {
			margin-bottom: 30px;
		}

		.bruschetta-wrap, .spinning-roles-wrap, .main-dishes-wrap {
			display: flex;

			.bruschetta-img, .spinning-roles-img, .main-dishes-img {
				order: 2;
			}
		}
	}
	.contact {
		p {
			a {
				pointer-events: auto;
			}
		}
	}
}

@media(max-width: 767px) {
	.contact {

		h3 {
			font-size: 20px;
		}

		p {
			font-size: 20px;
		}

		.mat-tab-label {
			height: 38px;
			padding: 0 16px;
			min-width: initial;
			max-width: initial;
		}
	}
}

@media(max-width: 575px) {
	.restaurant {
		margin-top: 80px;

		.section {
			padding: 0 20px;
		}

		.dish-container {
			.dish-img {
				p {
					height: auto;
				}
			}
		}
	}
	.menu {

		.menu-list {
			margin-left: 15px;
		}
	}
	.contact {

		p {
			font-size: 15px;
		}

		.fa {
			margin-right: 5px;
		}
	}
}