/*Main section with slider start*/

.main {
	min-height: calc(100vh - 200px);
	width: 100%;
	position: relative;
	background: #000;
	// background: url(../../../assets/img/main.jpg);
	// background-repeat: no-repeat;
	// background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 170px;

	// .bg {
	// 	position: absolute;
	// 	width: 100%;
	// 	height: 100vh;
	// 	background: rgba(0,0,0, .5);
	// }


	.main-title {
		position: relative;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
		
		.row {
			flex-direction: column;
			align-items: center;
			padding-bottom: 50px;
		}

    h1 {
	    font-size: 50px;
	    margin-bottom: 20px;
			text-align: center;
			font-weight: normal;
    }

    h2 {
    	font-size: 26px;
			text-align: center;
			font-weight: normal;
		}


    a {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			overflow: hidden;
			position: relative;
			overflow: visible;
			
			p {
				font-size: 24px;
				color: #fff;
				position: absolute;
				z-index: 2;
				padding: 5px 15px;
				background: rgba(0,0,0, .6);
				border: 1px solid #fff;
				border-radius: 90px;
				-o-transition: .3s;
				-moz-transition: .3s;
				-webkit-transition: .3s;
			}
		
			img {
				width: 100%;
				margin-top: 30px;
				max-width: none;

				-webkit-filter: blur(0);
				filter: blur(0);
			}

			&:hover {
				color: #fff;
				z-index: 3;

				p {
					background: rgba(0,0,0, .6);
					transition: .3s;
					-o-transition: .3s;
					-moz-transition: .3s;
					-webkit-transition: .3s;
				}

				img {
					-webkit-filter: blur(3px);
					filter: blur(3px);
					-webkit-transition: .3s ease-in-out;
					transition: .3s ease-in-out;
				}
			}
		}
		
		.main-links {
			display: flex;
			flex-wrap: wrap;
			margin-top: 50px;
			margin-bottom: 50px;
		}
	}

}

@media(max-width: 1024px) {
	.main {
		.main-title {
			margin-top: 0;
			h1 {
				font-size: 50px;
			}
			h2 {
				font-size: 26px;
			}
		}
	}
}

@media(max-width: 992px) {
	.main {
		// margin-top: 85px;
		.main-title {
			.restourant {
				margin-bottom: 50px;
			}
		}
	}
}

@media(max-height: 500px) {
	.main {
		.main-title {
			h1 {
				font-size: 30px;
			}
			h2 {
				font-size: 20px;
			}
			a {
				font-size: 20px;
				padding: 10px 25px;
				margin-bottom: 30px;
			}
		}
	}
}

@media (max-width:576px) {
	.main {
	  margin-top: 60px;
	}
}

@media(max-width: 480px) {
	.main {
		.main-title {
			h1 {
				font-size: 40px;
			}
			h2 {
				font-size: 30px;
			}
			a {
				margin-top: 70px;
			}
		}
	}
}

		/*Main section with sleder end*/


		/*Features start*/

.features {

	h3 {
		color: #000;
	}

	.features-icon {
		display: flex;
		justify-content: center;
		margin-bottom: 30px;
	}
	.features-title {
		text-align: center;
		margin-bottom: 15px;
		font-family: 'Source Sans Pro', sans-serif;
    color: #000;
		font-size: 30px;
		font-weight: bold;
		// height: 50px;
	}
	.features-descr {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 23px;
		line-height: 25px;
		text-align: center;
	}
}

@media(max-width: 767px) {
	.features {
		.col-md-4 {
			margin-bottom: 50px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

@media(max-height: 500px) {
	.features {
		.features-icon {
			img {
				width: 50%;
		    height: 50%;
			}
		}
		.features-title {
			font-size: 20px;
		}
		.features-descr {
	    font-size: 18px;
	    line-height: 20px;
		}
	}
}

@media(max-height: 400px) {
	.features {
		.features-icon {
			img {
				width: 30%;
		    height: 30%;
			}
		}
		.features-title {
			font-size: 25px;
		}
	}
}
		/*Features end*/



		/*Menu section start*/

.program {
	position: relative;
	background: #0A0807;

	.row {
		overflow: hidden;
	}

	// h3 {
	// 	color: #000;
	// }

	.program-img {
		padding: 0;

		img {
			width: 100%;
			height: 100%;
		}
	}

	.program-descr {
		padding: 40px;
		background: #fff;

		.program-title {
			color: #0A0807;
			font-size: 30px;
			margin-bottom: 15px;
			display: block;

			&:hover {
				text-decoration: underline;
			}
		}

		p {
			color: #0A0807;
			display: block;
			margin-bottom: 10px;
		}

		.buy-block {
			display: flex;
			justify-content: space-between;
			align-items: center;
			position: relative;
			margin-bottom: 50px;

			.price {
				font-size: 35px;
				font-weight: bold;
			}

			.buy-link {
				a {
					background: #F0544F;
					font-size: 21px;
					padding: 10px 25px;
					border-radius: 90px;
					color: #fff;
					transition: .3s;

					&:hover {
						transition: 3s;
						background: red;
						border-bottom: none;
					}

					.fa {
						margin-right: 10px;
					}
				}
			}

			.days {
				display: flex;
				align-items: flex-start;
				position: relative;
				select {
					padding: 5px 45px 5px 15px;
					border-radius: 5px;
					color: #0A0807;
					position: relative;
					-webkit-appearance: none;
					-moz-appearance: none;
					appearance: none;

					&:focus {
						outline: none;
					}

				}
				.fa {
					position: absolute;
					color: #F0544F;
					right: 15px;
					font-size: 18px;
					font-weight: bold;
				}
			}

			.price-by-day {
				position: absolute;
				bottom: -25px;
				color: rgba(0,0,0, .6);
			}

		}

		.program-anons {
			color: #0A0807;
			line-height: 20px;
			margin-bottom: 50px;
			text-align: left;
		}

	
	}

	.mat-tab-label-content {
    color: #fff;;
  }
}

// @media (max-width: 1200px) {
// 	.main {
// 		// margin-top: 50px;
// 	}
// }
@media (max-width: 1024px) {
	.main .main-title h2 {
		font-size: 30px;
	}
	.main .main-title .title-wrap {
		margin-bottom: 0;
	}
}
@media (max-width: 992px) {
	.main .restourant img, .main .ration img {
		transform: rotate(0deg);
		-o-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
	}
	.main {
		margin-top: 0;
		padding-top: 100px;
	}
	.main .main-title a img {
		margin-top: 0;
	}
	.main .main-title a {
		& + a {
			margin-left: 30px;
		}
	}
}
@media (max-width: 768px) {
	.main .main-title .main-links {
		flex-direction: column;
	}
	.main .main-title a {
		& + a {
			margin-left: 0px;
			margin-top: 30px;
		}
	}
	.main .main-title a p {
		padding: 15px 45px;
    // font-size: 28px;
	}
}
@media (max-width: 480px) {
	.main .main-title a {
		margin-top: 0;
	}
	.main .main-title a p {
		padding: 10px 25px;
    font-size: 16px;
	}
	.main .main-title h2 {
		font-size: 18px;
	}
}