    <!--Main section with slider-->

<div id="main" class="main">
  <pf-header></pf-header>
   <mat-tab-group>
    <mat-tab label="">
      <img src="../assets/img/slider-1.jpeg">
      <div class="bg"></div>
    </mat-tab>
    <mat-tab label="">
      <img src="../assets/img/slider-2.jpg">
      <div class="bg"></div>
    </mat-tab>
    <mat-tab label="">
      <img src="../assets/img/slider-3.jpg">
      <div class="bg"></div>
    </mat-tab>
  </mat-tab-group>
  <div class="main-title">
    <h1>
      Перший у Львові
    </h1>
    <h2>
      ресторан здорового харчування
    </h2>
    <a href="#">
      Вибрати програму
    </a>
  </div>
</div>

    <!--Main section with slider end-->

    <!--Features start-->

<div id="features" class="features section">
  <h3>
    Чому ми:
  </h3>
  <div class="container">
    <div class="row">
      <div class="col-md-4">

        <div class="features-icon">
          <img src="../assets/img/icons/menu.png">
        </div>
        <div class="features-title">
          Power Food пропонує:
        </div>
        <div class="features-descr">
          Унікальне меню з урахуванням кількості калорій, білків та вуглуводів
        </div>

      </div>
      <div class="col-md-4">

        <div class="features-icon">
          <img src="../assets/img/icons/diet.png">
        </div>
        <div class="features-title">
          Power Food доводить:
        </div>
        <div class="features-descr">
          Корисна їжа може і повинна бути смачною
        </div>
        
      </div>
      <div class="col-md-4">

        <div class="features-icon">
          <img src="../assets/img/icons/recommended.png">
        </div>
        <div class="features-title">
          Power Food стверджує:
        </div>
        <div class="features-descr">
          Якість і користь понад усе
        </div>
        
      </div>
    </div>
  </div>
</div>

    <!--Features end-->


    <!--Menu section start-->

<div id="program" class="program section">
  <h3>
      Ми підібрали програми під ваші задачі
  </h3>
  <div class="container">
    <div class="row">

      <mat-tab-group>

        <mat-tab label="Зниження">
          
          <div>
            <div class="col-md-6 program-img">
              <img src="https://levelkitchen.com/upload/iblock/e6c/e6c770196583e33b3826801628f61bce.jpg">
            </div>
            <div class="col-md-6 program-descr">

                <a class="program-title" href="#">
                  Зниження - 1000ккал
                </a>
                <p>
                  Кількість днів
                </p>

                <div class="buy-block">
                  <div class="price">
                    1200 грн
                  </div>
                  <div class="price-by-day">
                    * 200 грн/день
                  </div>
                  <div class="days">
                  
                    <select name="select">
                      <option value="value1" selected>6 дн</option> 
                      <option value="value2">2 дн</option>
                      <option value="value3">12 дн</option>
                      <option value="value3">18 дн</option>
                      <option value="value3">24 дн</option>
                    </select>

                    <i class="fa fa-angle-down"></i>
                    
                  </div>
                  <div class="buy-link">
                    <a href="#">
                        <i class="fa fa-shopping-bag"></i>
                        Замовити
                    </a>
                  </div>
                </div>

                <div class="program-anons">
                    Високий вміст білків з підтриманням оптимального рівня жирів і повільних вуглеводів допоможе позбутися від зайвих кілограмів без втрати м'язової маси. Раціон - 1000 ккал.
                </div>

                <div class="calories">
                  <p>
                    В середньому на день
                  </p>
    
                  <div class="cal-item">
                    <span class="first">
                      1000
                    </span>
                    ккал
                  </div>
                  <div class="cal-item">
                    <span>
                      120
                    </span>
                    білків
                  </div>
                  <div class="cal-item">
                    <span>
                      28
                    </span>
                    жирів
                  </div>
                  <div class="cal-item">
                    <span>
                      80
                    </span>
                    вуглеводів
                  </div>
          
                </div>

            </div>
          </div>

          <div>
            <div class="col-md-6 program-img">
              <img src="https://levelkitchen.com/upload/iblock/e6c/e6c770196583e33b3826801628f61bce.jpg">
            </div>
            <div class="col-md-6 program-descr">

              <a class="program-title" href="#">
                Зниження - 1000ккал
              </a>
              <p>
                Кількість днів
              </p>

              <div class="buy-block">
                <div class="price">
                  1200 грн
                </div>
                <div class="price-by-day">
                  * 200 грн/день
                </div>
                <div class="days">
                  
                  <select name="select">
                    <option value="value1" selected>6 дн</option> 
                    <option value="value2">2 дн</option>
                    <option value="value3">12 дн</option>
                    <option value="value3">18 дн</option>
                    <option value="value3">24 дн</option>
                  </select>

                  <i class="fa fa-angle-down"></i>
                  
                </div>
                <div class="buy-link">
                  <a href="#">
                      <i class="fa fa-shopping-bag"></i>
                      Замовити
                  </a>
                </div>
              </div>

              <div class="program-anons">
                  Високий вміст білків з підтриманням оптимального рівня жирів і повільних вуглеводів допоможе позбутися від зайвих кілограмів без втрати м'язової маси. Раціон - 1000 ккал.
              </div>

              <div class="calories">
                <p>
                  В середньому на день
                </p>

                <div class="cal-item">
                  <span class="first">
                    1000
                  </span>
                  ккал
                </div>
                <div class="cal-item">
                  <span>
                    120
                  </span>
                  білків
                </div>
                <div class="cal-item">
                  <span>
                    28
                  </span>
                  жирів
                </div>
                <div class="cal-item">
                  <span>
                    80
                  </span>
                  вуглеводів
                </div>
          
              </div>
    
            </div>
          </div>

        </mat-tab>

        <mat-tab label="Баланс">
          
          <div>
            <div class="col-md-6 program-img">
              <img src="https://levelkitchen.com/upload/iblock/e6c/e6c770196583e33b3826801628f61bce.jpg">
            </div>
            <div class="col-md-6 program-descr">

              <a class="program-title" href="#">
                Зниження - 1000ккал
              </a>
              <p>
                Кількість днів
              </p>

              <div class="buy-block">
                <div class="price">
                  1200 грн
                </div>
                <div class="price-by-day">
                  * 200 грн/день
                </div>
                <div class="days">
                  
                  <select name="select">
                    <option value="value1" selected>6 дн</option> 
                    <option value="value2">2 дн</option>
                    <option value="value3">12 дн</option>
                    <option value="value3">18 дн</option>
                    <option value="value3">24 дн</option>
                  </select>

                  <i class="fa fa-angle-down"></i>
                  
                </div>
                <div class="buy-link">
                  <a href="#">
                      <i class="fa fa-shopping-bag"></i>
                      Замовити
                  </a>
                </div>
              </div>

              <div class="program-anons">
                  Високий вміст білків з підтриманням оптимального рівня жирів і повільних вуглеводів допоможе позбутися від зайвих кілограмів без втрати м'язової маси. Раціон - 1000 ккал.
              </div>

              <div class="calories">
                <p>
                  В середньому на день
                </p>

                <div class="cal-item">
                  <span class="first">
                    1000
                  </span>
                  ккал
                </div>
                <div class="cal-item">
                  <span>
                    120
                  </span>
                  білків
                </div>
                <div class="cal-item">
                  <span>
                    28
                  </span>
                  жирів
                </div>
                <div class="cal-item">
                  <span>
                    80
                  </span>
                  вуглеводів
                </div>
          
              </div>

            </div>
          </div>

          <div>
            <div class="col-md-6 program-img">
              <img src="https://levelkitchen.com/upload/iblock/e6c/e6c770196583e33b3826801628f61bce.jpg">
            </div>
            <div class="col-md-6 program-descr">

              <a class="program-title" href="#">
                Зниження - 1000ккал
              </a>
              <p>
                Кількість днів
              </p>

              <div class="buy-block">
                <div class="price">
                  1200 грн
                </div>
                <div class="price-by-day">
                  * 200 грн/день
                </div>
                <div class="days">
                  
                  <select name="select">
                    <option value="value1" selected>6 дн</option> 
                    <option value="value2">2 дн</option>
                    <option value="value3">12 дн</option>
                    <option value="value3">18 дн</option>
                    <option value="value3">24 дн</option>
                  </select>

                  <i class="fa fa-angle-down"></i>
                  
                </div>
                <div class="buy-link">
                  <a href="#">
                      <i class="fa fa-shopping-bag"></i>
                      Замовити
                  </a>
                </div>
              </div>

              <div class="program-anons">
                  Високий вміст білків з підтриманням оптимального рівня жирів і повільних вуглеводів допоможе позбутися від зайвих кілограмів без втрати м'язової маси. Раціон - 1000 ккал.
              </div>

              <div class="calories">
                <p>
                  В середньому на день
                </p>

                <div class="cal-item">
                  <span class="first">
                    1000
                  </span>
                  ккал
                </div>
                <div class="cal-item">
                  <span>
                    120
                  </span>
                  білків
                </div>
                <div class="cal-item">
                  <span>
                    28
                  </span>
                  жирів
                </div>
                <div class="cal-item">
                  <span>
                    80
                  </span>
                  вуглеводів
                </div>
          
              </div>

            </div>
          </div>

        </mat-tab>

        <mat-tab label="Набір">
          
          <div>
            <div class="col-md-6 program-img">
              <img src="https://levelkitchen.com/upload/iblock/e6c/e6c770196583e33b3826801628f61bce.jpg">
            </div>

            <div class="col-md-6 program-descr">

              <a class="program-title" href="#">
                Зниження - 1000ккал
              </a>
              <p>
                Кількість днів
              </p>

              <div class="buy-block">
                <div class="price">
                  1200 грн
                </div>
                <div class="price-by-day">
                  * 200 грн/день
                </div>
                <div class="days">
                  
                  <select name="select">
                    <option value="value1" selected>6 дн</option> 
                    <option value="value2">2 дн</option>
                    <option value="value3">12 дн</option>
                    <option value="value3">18 дн</option>
                    <option value="value3">24 дн</option>
                  </select>

                  <i class="fa fa-angle-down"></i>
                  
                </div>
                <div class="buy-link">
                  <a href="#">
                      <i class="fa fa-shopping-bag"></i>
                      Замовити
                  </a>
                </div>
              </div>

              <div class="program-anons">
                  Високий вміст білків з підтриманням оптимального рівня жирів і повільних вуглеводів допоможе позбутися від зайвих кілограмів без втрати м'язової маси. Раціон - 1000 ккал.
              </div>

              <div class="calories">
                <p>
                  В середньому на день
                </p>

                <div class="cal-item">
                  <span class="first">
                    1000
                  </span>
                  ккал
                </div>
                <div class="cal-item">
                  <span>
                    120
                  </span>
                  білків
                </div>
                <div class="cal-item">
                  <span>
                    28
                  </span>
                  жирів
                </div>
                <div class="cal-item">
                  <span>
                    80
                  </span>
                  вуглеводів
                </div>
          
              </div>

            </div>
          </div>

          <div>
            <div class="col-md-6 program-img">
              <img src="https://levelkitchen.com/upload/iblock/e6c/e6c770196583e33b3826801628f61bce.jpg">
            </div>
            <div class="col-md-6 program-descr">

              <a class="program-title" href="#">
                Зниження - 1000ккал
              </a>
              <p>
                Кількість днів
              </p>

              <div class="buy-block">
                <div class="price">
                  1200 грн
                </div>
                <div class="price-by-day">
                  * 200 грн/день
                </div>
                <div class="days">
                  
                  <select name="select">
                    <option value="value1" selected>6 дн</option> 
                    <option value="value2">2 дн</option>
                    <option value="value3">12 дн</option>
                    <option value="value3">18 дн</option>
                    <option value="value3">24 дн</option>
                  </select>

                  <i class="fa fa-angle-down"></i>
                  
                </div>
                <div class="buy-link">
                  <a href="#">
                      <i class="fa fa-shopping-bag"></i>
                      Замовити
                  </a>
                </div>
              </div>

              <div class="program-anons">
                  Високий вміст білків з підтриманням оптимального рівня жирів і повільних вуглеводів допоможе позбутися від зайвих кілограмів без втрати м'язової маси. Раціон - 1000 ккал.
              </div>

              <div class="calories">
                <p>
                  В середньому на день
                </p>

                <div class="cal-item">
                  <span class="first">
                    1000
                  </span>
                  ккал
                </div>
                <div class="cal-item">
                  <span>
                    120
                  </span>
                  білків
                </div>
                <div class="cal-item">
                  <span>
                    28
                  </span>
                  жирів
                </div>
                <div class="cal-item">
                  <span>
                    80
                  </span>
                  вуглеводів
                </div>
          
              </div>

            </div>
          </div>

        </mat-tab>

      </mat-tab-group>
      
    </div>
  </div>
</div>

    <!--Menu section end-->


    <!--Contacts start-->

<div id="contact" class="contact section">
  <div class="bg">
  </div>
  <h3>
    Контакти
  </h3>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12">

        <div class="address">
          <p>
            <i class="fa fa-map-marker"></i>
            м. Львів вул. Порохова 20Д
          </p>
        </div>

        <div class="phone">
          <p>
            <i class="fa fa-phone"></i>
            +38-096-801-14-90
          </p>
        </div>

        <div class="time-work">
          <p>
            <i class="fa fa-clock"></i>
            10:00 - 22:00
          </p>
        </div>

        <div class="email">
          <p>
            <i class="fa fa-at"></i>
            powerfood.info@gmail.com
          </p>
        </div>


      </div>
      <div class="col-lg-6 col-md-12">
        <iframe src="https://snazzymaps.com/embed/59718" width="100%" height="500px" style="border:none;"></iframe>
      </div>
    </div>
  </div>
</div>

    <!--Contacts end-->



                