    <!--Main section with sleder-->
<div class="main">
  <pf-header></pf-header>
   <mat-tab-group>
    <mat-tab label="">
      <img src="../assets/img/slider-1.jpeg">
      <div class="bg"></div>
    </mat-tab>
    <mat-tab label="">
      <img src="../assets/img/slider-2.jpg">
      <div class="bg"></div>
    </mat-tab>
    <mat-tab label="">
      <img src="../assets/img/slider-3.jpg">
      <div class="bg"></div>
    </mat-tab>
  </mat-tab-group>
  <div class="main-title">
    <h1>
      Перший у Львові
    </h1>
    <h2>
      ресторан здорового харчування
    </h2>
    <a href="#">
      Меню
    </a>
  </div>
</div>
