		/*Main section with slider start*/

.main {
	height: 100vh;
	width: 100%;
	position: relative;
	background: #000;
	// background: url(../../../assets/img/main.jpg);
	// background-repeat: no-repeat;
	// background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 110px;

	// .bg {
	// 	position: absolute;
	// 	width: 100%;
	// 	height: 100vh;
	// 	background: rgba(0,0,0, .5);
	// }


	.main-title {
		position: relative;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
		
		.row {
			flex-direction: column;
			align-items: center;
		}

    h1 {
	    font-size: 50px;
	    margin-bottom: 20px;
			text-align: center;
			font-weight: normal;
    }

    h2 {
    	font-size: 40px;
			text-align: center;
			font-weight: normal;
    }

    a {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			overflow: hidden;
			
			p {
				font-size: 24px;
				color: #fff;
			}
		
			img {
				width: 100%;
				margin-top: 30px;
				max-width: none;
				width: calc(100% + 60px);
				-webkit-transition: opacity 0.35s, -webkit-transform 0.45s;
				transition: opacity 0.35s, transform 0.45s;
			}

			&:hover {
				color: #fff;

				img {
					opacity: 0.6;
					filter: alpha(opacity=60);
					-webkit-transform: translate3d(40px,0,0);
					transform: translate3d(40px,0,0);
				}
			}
		}
		
		.main-links {
			display: flex;
			margin-top: 50px;
			margin-bottom: 50px;
		}
	}
}

@media(max-width: 992px) {
	.main {
		margin-top: 85px;
	}
}

@media(max-width: 1024px) {
	.main {
		.main-title {
			margin-top: 0;
			h1 {
				font-size: 50px;
			}
			h2 {
				font-size: 40px;
			}
		}
	}
}

@media(max-width: 480px) {
	.main {
		.main-title {
			h1 {
				font-size: 40px;
			}
			h2 {
				font-size: 30px;
			}
			a {
				margin-top: 70px;
			}
		}
	}
}

@media(max-height: 500px) {
	.main {
		.main-title {
			h1 {
				font-size: 30px;
			}
			h2 {
				font-size: 20px;
			}
			a {
				font-size: 20px;
				padding: 10px 25px;
				margin-bottom: 30px;
			}
		}
	}
}

@media (max-width:576px) {
	.main {
	  margin-top: 60px;
	}
}

		/*Main section with sleder end*/


		/*Features start*/

.features {

	h3 {
		color: #000;
	}

	.features-icon {
		display: flex;
		justify-content: center;
		margin-bottom: 30px;
	}
	.features-title {
		text-align: center;
		margin-bottom: 15px;
		font-family: 'Source Sans Pro', sans-serif;
    color: #000;
		font-size: 30px;
		font-weight: bold;
		// height: 50px;
	}
	.features-descr {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 23px;
		line-height: 25px;
		text-align: center;
	}
}

@media(max-width: 767px) {
	.features {
		.col-md-4 {
			margin-bottom: 50px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

@media(max-height: 500px) {
	.features {
		.features-icon {
			img {
				width: 50%;
		    height: 50%;
			}
		}
		.features-title {
			font-size: 20px;
		}
		.features-descr {
	    font-size: 18px;
	    line-height: 20px;
		}
	}
}

@media(max-height: 400px) {
	.features {
		.features-icon {
			img {
				width: 30%;
		    height: 30%;
			}
		}
		.features-title {
			font-size: 25px;
		}
	}
}
		/*Features end*/



		/*Menu section start*/

.program {
	position: relative;
	background: #0A0807;

	.row {
		overflow: hidden;
	}

	// h3 {
	// 	color: #000;
	// }

	.program-img {
		padding: 0;

		img {
			width: 100%;
			height: 100%;
		}
	}

	.program-descr {
		padding: 40px;
		background: #fff;

		.program-title {
			color: #0A0807;
			font-size: 30px;
			margin-bottom: 15px;
			display: block;

			&:hover {
				text-decoration: underline;
			}
		}

		p {
			color: #0A0807;
			display: block;
			margin-bottom: 10px;
		}

		.buy-block {
			display: flex;
			justify-content: space-between;
			align-items: center;
			position: relative;
			margin-bottom: 50px;

			.price {
				font-size: 35px;
				font-weight: bold;
			}

			.buy-link {
				a {
					background: #F0544F;
					font-size: 21px;
					padding: 10px 25px;
					border-radius: 90px;
					color: #fff;
					transition: .3s;

					&:hover {
						transition: 3s;
						background: red;
						border-bottom: none;
					}

					.fa {
						margin-right: 10px;
					}
				}
			}

			.days {
				display: flex;
				align-items: flex-start;
				position: relative;
				select {
					padding: 5px 45px 5px 15px;
					border-radius: 5px;
					color: #0A0807;
					position: relative;
					-webkit-appearance: none;
					-moz-appearance: none;
					appearance: none;

					&:focus {
						outline: none;
					}

				}
				.fa {
					position: absolute;
					color: #F0544F;
					right: 15px;
					font-size: 18px;
					font-weight: bold;
				}
			}

			.price-by-day {
				position: absolute;
				bottom: -25px;
				color: rgba(0,0,0, .6);
			}

		}

		.program-anons {
			color: #0A0807;
			line-height: 20px;
			margin-bottom: 50px;
		}

	
	}

	.mat-tab-label-content {
    color: #fff;;
  }
}

			/*Menu section finish*/


			/*Information start*/

// .information {
// 	position: relative;
// 	background: #fff;

// 	h3 {
// 		color: #000;
// 	}

// 	p {
// 		font-size: 18px;
// 		line-height: initial;
// 		color: #000;
// 	}

// 	.inf-title {
// 		color: #F0544F;
// 		margin-bottom: 30px;
// 		font-size: 25px;
// 		font-weight: bolder;
// 	}

// 	.inf-text {
// 		font-size: 18px;
// 		line-height: initial;
// 		color: #000;
// 		margin-bottom: 50px;

// 		p {
// 			margin-bottom: 30px;
// 		}

// 		a {
// 			display: block;
// 			color: #F0544F;
// 			font-size: 22px;
// 			opacity: .8;
// 			transition: .3s;
// 			&:hover {
// 				transition: .3s;
// 				opacity: 1;
// 				text-decoration: underline;
// 			}
// 			&+a {
// 				margin-top: 15px;
// 			}
// 			.fa {
// 				margin-right: 10px;
// 			}
// 		}
// 	}

// 	.features {
// 		display: flex;
// 		margin-bottom: 30px;

// 		span {
// 			background: #F0544F;
// 			width: 50px;
// 			height: 50px;
// 			display: flex;
// 			align-items: center;
// 			justify-content: center;
// 			border-radius: 90%;
// 			color: #fff;
// 			font-size: 30px;
// 			padding: 0 20px;
// 			line-height: 0;
// 			margin-right: 15px;
// 		}

// 	}
// }

// @media(max-width: 992px) {
// 	.information {
// 		h1, h2, h3 {
// 			font-size: 20px;
// 		}
// 		p {
// 			font-size: 16px;
// 		}
// 		.inf-text {
// 			font-size: 16px;

// 			p {
// 				font-size: 16px;
// 			}
			
// 			a {
// 				font-size: 18px;
// 			}
// 		}
// 		.inf-title {
// 			font-size: 18px;
// 		}

// 		.features  {
// 			flex-direction: column;
// 			span {
// 				width: 40px;
// 				height: 40px;
// 				font-size: 20px;
// 				text-align: center;
// 				margin-right:auto; 
// 				margin-left:auto;
// 				margin-bottom: 10px;
// 			}
// 		}
// 	}
// }

			/*Information end*/


			/*Contacts start*/

// .contact {
// 	background: url("../../../assets/img/contact.jpg") no-repeat center;
// 	background-size: cover;
//   position: relative;
	
// 	.bg {
// 		position: absolute;
//     width: 100%;
//     top: 0;
//     bottom: 0;
//     background: rgba(0,0,0, .6);
//     z-index: 2;
// 	}
// 	h3 {
// 		position: relative;
// 		z-index: 3;
// 	}
// 	.row {
// 		display: flex;
//     align-items: center;
//     position: relative;
// 		z-index: 3;
// 	}
// 	.fa {
// 		margin-right: 15px;
// 	}
// 	p {
//     font-size: 25px;
//     margin-bottom: 20px;
// 	}
// 	iframe {
// 		width: 100%;
// 		min-height: 300px;
// 		border: none;
// 	}
// }

// @media(max-width: 767px) {
// 	.contact {

// 		h3 {
// 			font-size: 20px;
// 		}

// 		p {
// 			font-size: 20px;
// 		}
// 	}
// }

// @media(max-width: 576px) {
// 	.contact {

// 		p {
// 			font-size: 15px;
// 		}

// 		.fa {
// 			margin-right: 5px;
// 		}
// 	}
// }

			/*Contacts finish*/