<div class="dish-container">
  <div class="container">
    <div class="row">

      <div class="col-md-6">
        <div class="dish-img" [routerLink]='["brysketa-spinach"]'>
          <p>Бруската з тушеним шпинатом - 200г</p>
          <img src="../../../../assets/img/restourant/bryskety/brysketa-spinach.jpg" alt="brysketa-spinach.img">
        </div>
      </div>

      <div class="col-md-6">
        <div class="dish-name">
          <p>Бруската з тушеним шпинатом - 200г</p>
        </div>
        <div class="dish-price">
          78рн
          <mat-form-field class="example-full-width">
            <input matInput type="number" value="1">
          </mat-form-field>
        </div>
        <div class="storage">
          З яйцем скрамбл та бейбі моцарелою
        </div>
        <div class="nutritional-value">
          Харчова цінність страви (грам):
          білки - <span>13,3</span>; 
          жири - <span>18</span>;
          вуглуводи - <span>23,7</span>;
          ккал - <span>309</span>;
        </div>
        <div class="buy-link">
          <a><i class="fa fa-shopping-bag"></i>Замовити</a>
        </div>
      </div>

    </div>
  </div>
</div>