<div class="dish-container">
  <div class="container">
    <div class="row">

      <div class="col-md-6">
        <div class="dish-img" [routerLink]='["mango-coctail"]'>
          <p>Амінокислотні коктейлі манго - 300мл</p>
          <img src="../../../../assets/img/restourant/coclails/mango-coctail.jpg" alt="mango-coctail.jpg">
        </div>
      </div>

      <div class="col-md-6">
        <div class="dish-name">
          <p>Амінокислотні коктейлі манго - 300мл</p>
        </div>
        <div class="dish-price">
          34грн
          <mat-form-field class="example-full-width">
            <input matInput type="number" value="1">
          </mat-form-field>
        </div>
        <div class="nutritional-value">
          Харчова цінність страви (грам):
          білки - <span>?</span>; 
          жири - <span>?</span>;
          вуглуводи - <span>?</span>;
          ккал - <span>?</span>;
        </div>
        <div class="buy-link">
          <a><i class="fa fa-shopping-bag"></i>Замовити</a>
        </div>
      </div>

    </div>
  </div>
</div>