<div class="dish-container">
  <div class="container">
    <div class="row">

      <div class="col-md-6">
        <div class="dish-img" [routerLink]='["lanch-N1"]'>
          <p>Ланч N1 132/200г з 12:00 - 15:00</p>
          <img src="../../../../assets/img/restourant/lanch/lanch-1.jpg" alt="lanch-N1.img">
        </div>
      </div>

      <div class="col-md-6">
        <div class="dish-name">
          <p>Ланч N1 132/200г з 12:00 - 15:00</p>
        </div>
        <div class="dish-price">
          138грн
          <mat-form-field class="example-full-width">
            <input matInput type="number" value="1">
          </mat-form-field>
        </div>
        <div class="storage">
          Салат з печеного буряка на горошковому пюре з ароматною олією; Телятина гриль на крем-соусі з буряка та булгуром
        </div>
        <div class="nutritional-value">
          Харчова цінність страви (грам):
          білки - <span>27,2</span>; 
          жири - <span>16,7</span>;
          вуглуводи - <span>28,4</span>;
          ккал - <span>369</span>;
        </div>
        <div class="buy-link">
          <a><i class="fa fa-shopping-bag"></i>Замовити</a>
        </div>
      </div>

    </div>
  </div>
</div>