<header id="header">
	<div class="container">
		<div class="row">
			<div class="col-md-5 nav-left">
				<div class="nav-left-top">
					<div class="feedback">
						<button (click)='popupMenu=!popupMenu'>
							Замовити зворотній дзвінок
						</button>
					</div>
				</div>
				<ul class="nav">
					<li>
						<a [routerLink]='[""]'>
							Головна
						</a>
					</li>
					<li>
						<a [routerLink]='["about"]'>
							Про компанію
						</a>
					</li>
					<li>
						<a [routerLink]='["catalog"]'>
							Каталог
						</a>
					</li>
				</ul>
			</div>
			<div class="col-md-2 logo-wrap">
				<a routerLink="" (click)='mobileNav=!mobileNav'>
					<img class="logo" src="../assets/img/white-logo.png" alt="logo">
				</a>
			</div>
			<div class="col-md-5 nav-right">
				<div class="nav-rigth-top">
					<div class="soc-icons">
						<a href="https://www.facebook.com/powerfoodlviv/" target="_blank">
							<i class="fa fa-facebook-f"></i>
						</a>
						<a href="https://www.instagram.com/powerfoodlviv/" target="_blank">
							<i class="fa fa-instagram"></i>
						</a>
					</div>
					<div class="cart" [routerLink]='["order"]'>
						<img src="../../../assets/img/shopping-cart.png">
					</div>
				</div>
				<ul class="nav">
					<li>
						<a [routerLink]='["price"]'>
							Ціни
						</a>
					</li>
					<li>
						<a [routerLink]='["restaurant"]'>
							Наш Ресторан
						</a>
					</li>
					<li>
						<a [routerLink]='["order/deliveri"]'>
							Доставка
						</a>
					</li>
				</ul>
			</div>
			<div class="nav-btn" (click)='mobileNav=!mobileNav' (click)='barEffect=!barEffect' [ngClass]="{'bar-effect':barEffect}">
				<!-- <i class="fa fa-bars"></i> -->
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
			</div>
			<!--mobile menu start-->
			<div class="mobile-menu-open" [ngClass]="{'mobile-menu':mobileNav}">
				<ul class="nav">
					<li>
						<a [routerLink]='[""]' (click)='mobileNav=!mobileNav' (click)='barEffect=!barEffect'>
							Головна
						</a>
					</li>
					<li>
						<a [routerLink]='["about"]' (click)='mobileNav=!mobileNav' (click)='barEffect=!barEffect'>
							Про компанію
						</a>
					</li>
					<li>
						<a [routerLink]='["catalog"]' (click)='mobileNav=!mobileNav' (click)='barEffect=!barEffect'>
							Каталог
						</a>
					</li>
					<li>
						<a [routerLink]='["price"]' (click)='mobileNav=!mobileNav' (click)='barEffect=!barEffect'>
							Ціни
						</a>
					</li>
					<li>
						<a [routerLink]='["restaurant"]' (click)='mobileNav=!mobileNav' (click)='barEffect=!barEffect'>
							Наш Ресторан
						</a>
					</li>
					<li>
						<a [routerLink]='["order/deliveri"]' (click)='mobileNav=!mobileNav' (click)='barEffect=!barEffect'>
							Доставка
						</a>
					</li>
				</ul>
				<div class="feedback">
					<button (click)='popupMenu=!popupMenu'>
						Замовити зворотній звінок
					</button>
				</div>
				<div class="soc-icons">
					<p>
						Ми в:
					</p>
					<a href="https://www.facebook.com/powerfoodlviv/" target="_blank">
						<i class="fa fa-facebook-f"></i>
					</a>
					<a href="https://www.instagram.com/powerfoodlviv/" target="_blank">
						<i class="fa fa-instagram"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
</header>

<div class="feedback-popup" [ngClass]="{'popup-menu':popupMenu}">
	<form method="POST" novalidate #f="ngForm"
		  (ngSubmit)="callSubmit(f)"
		  [formGroup]="callForm">

		<!--input id must be honeypot or else it wont work-->
		<label class="sr-only">Keep this field blank</label>
		<input id="honeypot" type="text"
			   name="honeypot" value=""
			   formControlName='honeypot'/>
		<!--the rest of your form-->

		<div class="container">
			<div class="row">
				<div class="popup-wrap col-md-8 offset-md-2 col-sm-10 offset-sm-1 col-xs-12">
					<div class="close-popup">
						<i class="fa fa-times-circle" (click)='popupMenu=!popupMenu'></i>
					</div>
					<h3>
						Зворотній дзвінок
					</h3>
					<div id="needs-validation">
						<!-- <span>
							Ваше ім'я
						</span> -->
						<mat-form-field class="example-full-width">
							<input matInput placeholder="Ім'я"
								   formControlName="name" name="name"
								   pattern="[a-zA-Z\u0400-\u04ff][a-zA-Z\u0400-\u04ff ]+">
							<mat-error
								*ngIf="callForm.get('name').invalid && callForm.get('name').touched">
								Введіть не менше <strong>3</strong> і не більше <strong>15</strong> літер імені
							</mat-error>
						</mat-form-field>
						<!-- <span>
							Телефон
						</span> -->
						<mat-form-field class="example-full-width">
							<span matPrefix>+38 &nbsp;</span>
							<input type="tel" matInput
								   placeholder="Телефон" formControlName="mobile" name="mobile"
								   (keypress)="onlyNumberKey($event)">
							<mat-error
								*ngIf="callForm.get('mobile').invalid && (callForm.get('mobile').dirty ||
										callForm.get('mobile').touched)">
								Введіть <strong>10</strong> цифр мобільного телефону
							</mat-error>
						</mat-form-field>
						<button  (click)='popupMenu=!popupMenu' class="submit-btn" type="submit" [disabled]="!callForm.valid">
							Замовити дзвінок
						</button>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>