<header>
	<div class="container">
		<div class="row">

			<div class="col-md-5 nav-left">
				<ul class="nav">
					<li>
						<a href="#">
							Головна
						</a>
					</li>
					<li>
						<a href="#">
							Переваги
						</a>
					</li>
				</ul>
			</div>
			<div class="col-md-2">
				<a href="#">
					<img class="logo" src="../assets/img/logo-black.jpg">
				</a>
			</div>
			<div class="col-md-5 nav-right">
				<ul class="nav">
					<li>
						<a href="#">
							Меню
						</a>
					</li>
					<li>
						<a href="#">
							Контакти
						</a>
					</li>
				</ul>
			</div>
			
		</div>
	</div>
</header>