<header>
	<div class="container">
		<div class="row">

			<div class="col-md-5 nav-left" [ngClass]="{'mobile-menu':mobileNav}" >
				<div class="soc-icons">
					<p>
						Ми в: 
						<a href="https://www.facebook.com/powerfoodlviv/" target="_blank">
							<i class="fa fa-facebook-f"></i>
						</a>
						<a href="https://www.instagram.com/powerfoodlviv/" target="_blank">
							<i class="fa fa-instagram"></i>
						</a>
					</p>
				</div>
				<ul class="nav">
					<li>
						<a href="#">
							Головна
						</a>
					</li>
					<li>
						<a href="#">
							Переваги
						</a>
					</li>
				</ul>
			</div>
			<div class="col-md-2 col-sm-4 logo-wrap">
				<a href="#">
					<img class="logo" src="../assets/img/logo-black.jpg">
				</a>
			</div>
			<div class="col-md-5 nav-right" [ngClass]="{'mobile-menu':mobileNav}" >
				<div class="address">
					<p>
						м. Львів, вул. Порохова 20Д, <span class="phone">тел. <span>+38-096-801-14-90</span></span>
					</p>
				</div>
				<ul class="nav">
					<li>
						<a href="#">
							Меню
						</a>
					</li>
					<li>
						<a href="#">
							Контакти
						</a>
					</li>
				</ul>
			</div>

			<div class="nav-btn" (click)='mobileNav=!mobileNav'>
				<i class="fa fa-bars"></i>
			</div>
			
		</div>
	</div>
</header>