header {
  background: #0A0807;
	padding: 15px 0;
	height: auto;
	position: relative;
  width: 100%;
  z-index: 99;
  transition: .3s;

  .container {
    position: static;
  }

	.logo-wrap {
		display: flex;
		justify-content: center;
		align-items: center;
		// position: absolute;
		// left: 0;
		// right: 0;
		height: calc(100% - 30px);
		z-index: 3;
	}

	.logo {
		width: 150px;
		height: auto;
		cursor: pointer;
	}

	li {
		a {
	    font-size: 20px;
	    color: rgba(255,255,255, .8);
	    transition: .3s;

	    &:hover {
				color: rgba(255,255,255, 1);
		    transition: .3s;
			}
		}
	}

	.nav-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
		align-items: flex-start;
		z-index: 2;
		
		.nav-left-top {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 100%;
		}

    .soc-icons {
    	display: flex;
	   	
	   	p {
	   		color: #969696;
	   		font-size: 15px;
	   		display: flex;
		    align-items: center;
		    justify-content: center;
	   	}
    }

		button {
			background: transparent;
			padding: 10px 25px;
			color: #fff;
			border: 1px solid #fff;
			border-radius: 20px;
			cursor: pointer;
			transition: 3s;
			opacity: .8;
			&:hover {
				opacity: 1;
				transition: .3s;
			}
		}

    .nav {
    	li {
				&+li {
	    		margin-left: 50px;
				}
				
				a {
					text-transform: uppercase;
				}
    	}
    }
	}
	.nav-right {
		display: flex;
    flex-direction: column;
    justify-content: center;
		align-items: flex-end;
		z-index: 2;

    .address {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
    	margin-bottom: 25px;
	    
	    p {
	    	color: #969696;
	    	font-size: 15px;
	    	display: flex;
		    align-items: center;
		    justify-content: center;
	    }

	    span {
	    	color: #fff;
	    	margin-left: 5px;
	    }

	    .phone {
  	    display: flex;
		    align-items: center;
			}

			.fa-phone {
				width: auto;
			}
		}

		.nav-rigth-top {
			display: flex;
			justify-content: flex-end;
			width: 100%;

			.my-cabinet {
				display: flex;
				align-items: center;
				justify-content: center;
				margin-bottom: 25px;
				opacity: .7;
				transition: .3;
				&:hover {
					opacity: 1;
					transition: .3s;
				}

				p {
					font-size: 18px;
					cursor: pointer;
				}
			}
		}
	
		.nav {
			li {
				&+li {
	    		margin-left: 50px;
				}
				
				a {
					text-transform: uppercase;
				}
    	}
		}
	}

	.fa {
		border-radius: 90%;
		width: 30px;
		height: 30px;
		display: flex;
		align-items: center;
		justify-content: center;
	}


	.nav-btn {
		display: none;
		color: #fff;
    font-size: 35px;
	}

	.mobile-menu-open {
		display: none;
		transition: .3s;
	}

}

header.black-bg {
	background: #000;
	transition: .3s;
}

.feedback-popup {
	display: none;
	transition: .3s;
}
.popup-menu {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	z-index: 99999;
	width: 100%;
	top: 0;
	bottom: 0;
	overflow: hidden;
	background: rgba(0,0,0, .6);
	transition: .3s;

	.popup-wrap {
		background: #fff;
		padding: 100px 50px;
		position: relative;

		.close-popup {
			position: absolute;
			top: 15px;
			right: 15px;
			z-index: 2;

			.fa {
				cursor: pointer;
				font-size: 25px;
			}
		}

		h3 {
			color: #000;
			font-size: 30px;
		}

		form {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;

			span {
				margin-bottom: 15px;
				font-family: 'Source Sans Pro', sans-serif;
				font-size: 18px;
			}

			input {
				margin-bottom: 30px;
			}

			button {
				background: transparent;
				border: 1px solid #000;
				padding: 10px 25px;
				border-radius: 25px;
				font-size: 20px;
				margin: 0 auto;
				transition: .3s;
				cursor: pointer;
				&:hover {
					transition: .3s;
					background: rgba(0,0,0, 0.1);
				}
			}
		}
	}
}

// @media(max-width: 991px) {
// 	header {

// 		.logo-wrap {
// 			padding: 0;
// 		}

// 		.nav-right {
// 			.address {
// 				span {
// 					display: none;
// 				}
// 			}
// 		}
// 	}
// }

@media(max-width: 991px) {
	header {
		height: auto;

		.row {
	    display: flex;
	    justify-content: space-between;
	    align-items: center;
		}

		.logo {
			width: 150px;
			height: auto;
		}

		.logo-wrap {
			z-index: 10;
		}
		
		.nav-left {
			display: none;
		}

		.nav-right {
			display: none;
		}

		.nav-btn {
			display: block;
			z-index: 10;
		}

		.mobile-menu {
			// display: block;
			transition: .3s;
	    background: #000;
	    width: 100%;
	    position: absolute;
	    left: 0;
	    top: 0;
	    height: 100vh;
	    z-index: 9;
      display: flex;
	    align-items: center;
	    justify-content: center;
	    flex-direction: column;

	    ul {
	    	flex-direction: column;
		    justify-content: center;
		    align-items: center;
        margin-top: -150px;

		    li {
		    	margin: 15px 0;

		    	a {
		    		font-size: 40px;
		    	}
		    }
	    }

	    .soc-icons {
  	    position: absolute;
		    bottom: 15px;
		    text-align: center;

		    p {
    	    font-size: 35px;
	        margin-bottom: 15px;
		    }

		    a {
		    	display: inline-block;
    	    font-size: 40px;

		    	.fa {
		    		width: 60px;
		    		height: 60px;
		    	}

		    	.fa-facebook-f {
		    		margin-left: 0;
		    	}
		    }
			}
			
			button {
				background: transparent;
				padding: 10px 25px;
				color: #fff;
				border: 1px solid #fff;
				margin-top: 30px;
				font-size: 18px;
				border-radius: 20px;
				cursor: pointer;
				transition: 3s;
				&:hover {
					background: rgba(255, 255, 255, 0.2);
					transition: .3s;
				}
			}
		}

	}
}

@media(max-width: 575px) {
	header {
		.row {
			padding: 0 15px;
		}

		.logo-wrap {
			float: left;
			width: auto;
		}
	}
	.popup-menu {
		.popup-wrap {
			margin: 0 15px;
		}
	}
}

@media(max-height: 400px) {
	header {
    height: auto;

    .logo {
    	width: 150px;
    }

    .mobile-menu {
    	ul{
		    margin-top: -70px;
    		li {
			    margin: 10px 0;
    			a {
    				font-size: 20px;
    			}
    		}
    	}

    	.soc-icons {
    		p {
    			font-size: 20px;
    		}
    		a {
					font-size: 20px;

					.fa {
						width: 40px;
				    height: 40px;
					}
    		}
    	}
    }
	}
	.popup-menu {
		.popup-wrap {
			padding: 15px;
		}
	}
}