<div class="balance product" *ngFor="let product of products">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12 program-img">
        <a [routerLink]='["/balance2000descr"]'>
          <img [src]="product.imageUrl" title="Детальніше про програму">
        </a>
      </div>
      <div class="col-lg-6 col-md-12 program-descr">
        <a class="program-title" [routerLink]='["/balance2000descr"]' title="Детальніше про програму">{{ product.name }}</a>       
        <div class="buy-block">
          <div class="price" *ngIf="selectedValue">{{ selectedValue }} грн</div>
          <div class="price" *ngIf="!selectedValue">0 грн</div>
          <div class="price-by-day">* {{ product.dayPrice }} грн/день</div>
          <div class="days">
            <p>Кількість днів</p>
            <mat-form-field>
              <mat-select placeholder="" [formControl]="daysControl"
                          (change)="onSelected($event.value)"
                          [(ngModel)]="selectedValue" required>
                <mat-option *ngFor="let day of days" [value]="day.price">
                  {{day.number}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="daysControl.hasError('required')">Виберіть тривалість курсу</mat-error>
            </mat-form-field>
          </div>
          <div class="buy-link d-none d-lg-block">
            <a [routerLink]="['/order']" (click)="orderProduct()">
              <i class="fa fa-shopping-bag"></i>Замовити
            </a>
          </div>
        </div>
        <div class="program-anons">{{ product.description }}</div>
        <div class="calories">
          <p class="hidden-md-down">В середньому на день</p>
          <div class="cal-item">
            <span class="first">{{ product.id }}</span>ккал
          </div>
          <div class="cal-item">
            <span>120</span>білків
          </div>
          <div class="cal-item">
            <span>28</span>жирів
          </div>
          <div class="cal-item">
            <span>80</span>вуглеводів
          </div>
        </div>
        <div class="buy-link d-lg-none d-xl-none">
          <a [routerLink]="['/order']" (click)="orderProduct()">
            <i class="fa fa-shopping-bag"></i>Замовити
          </a>
        </div>
      </div>
    </div>
  </div>
</div>