<div class="balance product" *ngFor="let product of products">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12 program-img">
        <a [routerLink]='["/balance2000descr"]'>
          <img [src]="product.imageUrl" title="Детальніше про програму">
        </a>
      </div>
      <div class="col-lg-6 col-md-12 program-descr">
        <a class="program-title" [routerLink]='["/balance2000descr"]' title="Детальніше про програму">{{ product.name }}</a>
        <p>Кількість днів</p>
        <div class="buy-block">
          <div class="price">{{ product.price }}</div>
          <div class="price-by-day">* {{ product.dayPrice }} грн/день</div>
          <div class="days">
            <select name="select">
              <option value="value1" selected>2 дн</option>
              <option value="value2">6 дн</option>
              <option value="value3">14 дн</option>
              <option value="value3">24 дн</option>
              <option value="value3">30 дн</option>
            </select>
            <i class="fa fa-angle-down"></i>
          </div>
          <div class="buy-link d-none d-lg-block">
            <a [routerLink]="['/order']" (click)="orderProduct()">
              <i class="fa fa-shopping-bag"></i>Замовити
            </a>
          </div>
        </div>
        <div class="program-anons">{{ product.description }}</div>
        <div class="calories">
          <p class="hidden-md-down">В середньому на день</p>
          <div class="cal-item">
            <span class="first">{{ product.id }}</span>ккал
          </div>
          <div class="cal-item">
            <span>120</span>білків
          </div>
          <div class="cal-item">
            <span>28</span>жирів
          </div>
          <div class="cal-item">
            <span>80</span>вуглеводів
          </div>
        </div>
        <div class="buy-link d-lg-none d-xl-none">
          <a [routerLink]="['/order']" (click)="orderProduct()">
            <i class="fa fa-shopping-bag"></i>Замовити
          </a>
        </div>
      </div>
    </div>
  </div>
</div>