.forgot-pass {
  background: #fff;

  h3 {
    color: #000;
    width: 100%;
  }

  h4 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  p {
    color: #000;
  }

   .email-form {
    margin-bottom: 30px;
  }


  .mat-button {
    background: #F0544F;
    font-size: 18px;
    padding: 5px 25px;
    border-radius: 90px;
    color: #fff;
    transition: .3s;
    margin-left: 15px;

    &:hover {
      transition: .3s;
      background: red;
    }
  }

}