<div class="dish-container">
  <div class="container">
    <div class="row">

      <div class="col-md-6">
        <div class="dish-img" [routerLink]='["milk-pudding"]'>
          <p>Молочний пудинг з чіа,гранолою та сезоними ягодами - 260гр</p>
          <img src="../../../../assets/img/restourant/desserts/milk-pudding.jpg" alt="milk-pudding.jpg">
        </div>
      </div>

      <div class="col-md-6">
        <div class="dish-name">
          <p>Молочний пудинг з чіа,гранолою та сезоними ягодами - 260гр</p>
        </div>
        <div class="dish-price">
          71грн
          <mat-form-field class="example-full-width">
            <input matInput type="number" value="1">
          </mat-form-field>
        </div>
        <div class="nutritional-value">
          Харчова цінність страви (грам):
          білки - <span>27,2</span>; 
          жири - <span>16,7</span>;
          вуглуводи - <span>28,4</span>;
          ккал - <span>369</span>;
        </div>
        <div class="buy-link">
          <a><i class="fa fa-shopping-bag"></i>Замовити</a>
        </div>
      </div>

    </div>
  </div>
</div>