@import '~bootstrap/dist/css/bootstrap.min.css';
//@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

		/*Reset style*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
body {
  line-height: 1;
  font-family: 'Source Sans Pro', sans-serif;
  width: 100%;
}
ol, ul {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Track */
::-webkit-scrollbar-track {
  background: #000; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #fff; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #fff; 
}

a {
	&:hover {
    text-decoration: none;
    outline: none;
    outline-offset: 0;
	}
	&:focus {
    outline: none;
    // outline-offset: 0;
	}
}
div {
  &:focus {
    outline: none;
  }
}
button, img {
	&:focus, &:active, &:hover {
    outline: none;
    // outline-offset: 0;
    // box-shadow: none;
    // -webkit-appearance: none;
    // -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	}
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
a, button, input, textarea {
  transition: .3s;
  -o-transition: .3s;
  -moz-transition: .3s;
  -webkit-transition: .3s;
}
a:hover, button:hover, input:hover, textarea:hover {
  transition: .3s;
  -o-transition: .3s;
  -moz-transition: .3s;
  -webkit-transition: .3s;
}
		/*Main styles*/

.section {
  padding: 100px 0;
  width: 100%;
}
div {
	font-family: 'Source Sans Pro', sans-serif;
}
h1, h2, h3 {
	font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  margin: 0 0 50px 0;
  font-size: 40px;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
}

h2 {
  margin: 0;
}

p, a, li, th, td {
	font-family: 'Source Sans Pro', sans-serif;
	color: #fff;
  font-size: 16px;
  line-height: normal;
}
a {
	cursor: pointer;
	&:hover, &:focus {
		text-decoration: none;
		outline: none;
	}
}
.fa-facebook-f {
	color: #fff;
	background: #4267b2;
	margin-left: 15px;
	transition: .3s;
	opacity: .8;

	&:hover {
		opacity: 1;
		transition: .3s
	}
}

.fa-instagram {
	color: #fff;
	background: #d6249f;
	background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
	box-shadow: 0px 3px 10px rgba(0,0,0,.25);
	margin-left: 15px;
	transition: .3s;
	opacity: .8;

	&:hover {
		opacity: 1;
		transition: .3s
	}
}

button {
	opacity: .8;
	transition: .3s;

	&:hover {
		opacity: 1;
		transition: 1s;
	}
}

.table-wrap {
  overflow: scroll;
  -ms-overflow-style: none;  // IE 10+
  overflow: -moz-scrollbars-none;  // Firefox

    &::-webkit-scrollbar {
      width: 0;
    }
    &::-webkit-scrollbar { width: 0px; height: 0px;}
    &::-webkit-scrollbar-button {  background-color: transparent; }
    &::-webkit-scrollbar-track {  background-color: transparent;}
    &::-webkit-scrollbar-track-piece { background-color: transparent;}
    &::-webkit-scrollbar-thumb { height: 0px; background-color: transparent;}
    &::-webkit-scrollbar-corner { background-color: transparent;}
    &::-webkit-resizer { background-color: transparent;}
  
  .tg {
    -ms-overflow-style: none;  // IE 10+
    overflow: -moz-scrollbars-none;  // Firefox

    &::-webkit-scrollbar {
      width: 0;
    }
  }
}

#honeypot, #honeypot1 {
  display: none; /*makes the field not visible to humans*/
}

@media(max-width: 767px) {
	.section {
		padding: 50px 0;
	}
}

.mat-tab-header {
	border-bottom: none;
	margin: 0 auto;
	margin-bottom: 50px;
}

.mat-tab-label-active {
	opacity: 1;
  background: #88AB31;
  
  .mat-tab-label-content {
    color: #fff;
  }
}

.mat-tab-label {
  opacity: 1 !important;
  transition: .3s;
  -o-transition: .3s;
  -moz-transition: .3s;
  -webkit-transition: .3s;

  &:hover {
    opacity: .8 !important;
    transition: .3s;
    -o-transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
  }
}

.mat-tab-label-content {
	font-size: 20px;
	font-weight: bold;
	// color: #D7D7D7;
}

.mat-tab-body-content {
	overflow: hidden !important;
	display: flex;
	flex-direction: column;
	&>div {
		display: flex;
		&+div {
			margin-top: 50px;
		}
	}
}

.mat-tab-group.mat-primary .mat-tab-label:not(.mat-tab-disabled):focus, .mat-tab-group.mat-primary .mat-tab-link:not(.mat-tab-disabled):focus, .mat-tab-nav-bar.mat-primary .mat-tab-label:not(.mat-tab-disabled):focus, .mat-tab-nav-bar.mat-primary .mat-tab-link:not(.mat-tab-disabled):focus {
	background: #88AB31;
}
.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
	background: green;
}

.product {
  display: flex;
  margin-bottom: 50px;

  .mat-form-field {
    width: 130px;
  }

  .mat-select-value {
    padding: 0 5px;
  }

  .program-img {
    // padding: 0;

    img {
      width: 100%;
      height: 100%;
    }
  }

}


@media (min-width: 992px) and (max-width: 1200px) {
  .product {
    &>.container {
      &>.row {
        flex-direction: column;
        &>.col-lg-6 {
          width: 100%;
          max-width: 100%;
        }
        .program-img {
          padding: 0;
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .product {
    .program-img {
      // padding: 0;
      margin-bottom: 0px;
      padding: 0;
    }
  }
}

@media (max-width: 480px) {
  // .mat-tab-label {
  //   min-width: 100px;
  //   max-width: 100px;
  // }
}

.buy-link {
  a {
    background: #88AB31;
    font-size: 21px;
    padding: 10px 25px;
    border-radius: 90px;
    color: #fff;
    transition: .3s;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      transition: .3s;
      background: green;
      border-bottom: none;
      text-decoration: none;
    }

    .fa {
      margin-right: 10px;
    }
  }
}

.program-descr {
  padding: 40px 20px;
  background: #fff;
  border: 1px solid rgba(0,0,0, .2);

  .program-title {
    color: #0A0807;
    font-size: 30px;
    // margin-bottom: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    &:hover {
      text-decoration: underline;
    }

    span {
      font-size: 22px;
    }
  }


  p {
    color: #0A0807;
    display: block;
    margin-bottom: 10px;
  }

  .buy-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-bottom: 50px;
    margin-top: 30px;

    .price {
      font-size: 35px;
      font-weight: bold;
    }

    .days {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      position: relative;
      p {
        margin-bottom: 0;
      }
      select {
        padding: 5px 45px 5px 15px;
        border-radius: 5px;
        color: #0A0807;
        position: relative;
        -webkit-appearance: none;
        -moz-appearance: none;
        z-index: 1;
        background: transparent;
        cursor: pointer;

        &:focus {
          outline: none;
        }

      }
      .fa {
        position: absolute;
        color: #88AB31;
        right: 15px;
        font-size: 18px;
        font-weight: bold;
        z-index: 0;
      }
      .mat-form-field {
        width: 90px;
      }
      .mat-option-text {
        text-align: center;
      }
      .mat-form-field-infix {
        padding-top: 0;
      }
    }

    .price-by-day {
      position: absolute;
      bottom: -10px;
      color: rgba(0,0,0, .6);
    }

  }

  .program-anons {
    color: #0A0807;
    line-height: 20px;
    margin-bottom: 50px;
    text-align: left;
  }

  .calories {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    p {
      font-size: 18px;
      font-weight: bold;
    }
  }

  // .cal-item-wrap {
  // 	display: flex;
  // }

  .cal-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #88AB31;
    margin-left: 15px;
    width: 60px;
    height: 85px;
    span {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #0A0807;;
      border-radius: 90%;
      width: 50px;
      height: 50px;
      margin-top: 10px;
    }
    .first {
      width: 70px;
      height: 70px;
      border-color: #88AB31;
      margin-top: 0;
    }
  }
}

@media(max-width: 544px) {
  .program-descr {
    padding: 15px;

    .program-title {
      text-align: center;
    }

    .buy-block {
      flex-direction: column;

      .days {
        margin: 15px 0;
      }
    }
  }
}

.calories {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;

  p {
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    top: -35px;
    left: 0;
    right: 0;
    text-align: center;
  }
}

// .cal-item-wrap {
// 	display: flex;
// }

.kal-price {
  position: relative;
  // right: 10px;
  // top: 0;
  // bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .fa {
    font-size: 30px;
    margin-bottom: 5px;
    color: #88AB31;
  }
}

.cal-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #88AB31;
  margin-left: 15px;
  width: 60px;
  height: 85px;
  span {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #0A0807;;
    border-radius: 90%;
    width: 50px;
    height: 50px;
    margin-top: 10px;
  }
  .first {
    width: 70px;
    height: 70px;
    border-color: #88AB31;
    margin-top: 0;
  }
}

.product-descr {
  position: relative;
  margin-top: 110px;

  .mat-select-value {
    padding: 0 5px;
  }

  .product-descr-wrap {
    img {
      width: 100%;
    }
  }


  .row {
    display: flex;
    align-items: flex-start;
    // width: 100%;
  }

  .col-md-6 {
    padding: 0;

    &>img {
      width: 100%;
    }
  }

  h1 {
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;

    .kal-price {
      margin-left: 15px;
    }
  }

  p {
    color: #000;
  }

  .cal-wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-right: 10px;
    width: 100%;

    &>p {
      text-align: center;
      margin-bottom: 15px;
    }
  }

  .program-descr {
    border: none;
    margin: 30px 0;
    padding: 0;
    padding-right: 10px;
  }

  .product-descr-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .buy-link {
    margin-left: 15px;
  }

  .feature {
    display: flex;
    padding-right: 10px;

    .row {
      align-items: flex-start;
    }

    p {
      font-size: 25px;
      margin-bottom: 15px;
    }

    .col-md-6 {
      padding: 15px;
    }

    li {
      color: #000;
      display: flex;
      align-items: center;
      font-size: 18px;

      &+li {
        margin-top: 15px;
      }

      .fa {
        color: #88AB31;
        font-size: 25px;
        margin-right: 10px;
      }
    }
  }
}

@media (max-width: 992px) {
  .product-descr {
    margin-top: 85px;
    h1 {
      flex-direction: column;

      .kal-price {
        margin-top: 15px;
      }
    }
    .product-descr-wrap {
      &>div {
        &:first-child {
          order: 2
        }
        &:nth-child(2) {
          order: 1;
          margin-bottom: 50px;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .product-descr {
    p {
      text-align: center;
    }
    .program-descr {
      padding: 15px;
      .buy-block {
        .days {
          margin: 15px 0;
        }
      }
    }
    .feature {
      padding-right: 0;
    }
  }
}
@media (max-width:576px) {
	.product-descr {
	  margin-top: 60px;
	}
}
// @media (max-width: 992px) {
//   .product-descr {

//   }
// }

.week-menu {
  margin-top: 100px;
  margin-bottom: 100px;

  .row {
    align-items: flex-start;
  }

  .col-md-3 {
    height: 100%;
    &+.col-md-3 {
      border-left: 1px solid #ccc;
    }
  }

  .number {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
  }

  .food {
   line-height: 20px;
   font-size: 18px;
   cursor: pointer;
   position: relative;
   margin-bottom: 30px;
   &:hover {
     transition: .3s;
     &::after {
       position: absolute;
       content: '';
       width: 100%;
       height: 100%;
       top: 0;
       left: 0;
       background: url('http://www.latimes.com/resizer/X_W2tK26MuzdctcIxzWARtWFKaQ=/1400x0/beta.latimes.com/resizer/LBWH8wCzCGIWCKb3hrfc_6AoKLE=/1400x0/www.trbimg.com/img-590ce311/turbine/la-fo-belcampo-20170505/');
       background-size: cover;
     }
   }
    img {
      vertical-align: middle;
      float: left;
      margin-right: 5px;
    }
  }

  .kkal {
    display: flex;
    justify-content: space-between;
    span {
      color: #8c8b8b;
    }
  }
}

@media (max-width: 767px) {
  .week-menu {
    .col-md-3 {
      height: auto;
      margin-bottom: 30px;
      border-left: 1px solid #ccc;
      // &+.col-md-3 {
      //   border-left: 1px solid #ccc;
      // }
    }
  }
}

.others-program {
  .row {
    margin: 0;
  }
  .col-md-6 {
    padding: 15px;
  }
  .program-descr {
    margin: 25px 0;
  }
}

.mat-form-field {
  width: 100%;
}

.mat-checkbox-layout {
  white-space: inherit !important;
}

@media (max-width: 992px) {
  h1, h2, h3 {
    font-size: 20px;
  }

  .program-descr {
    .buy-link {
      display: flex;
      justify-content: center;
    }
    .calories {
      margin-bottom: 50px;
    }
  }
  .program {
    .program-descr {
      p {
        text-align: right;
      }
    }
  }
}

@media (max-width: 480px) {
  .program-descr {
    .calories {
      padding-top: 50px;
      position: relative;

      &>p {
        position: absolute;
        top: 20px;
        left: 0;
        right: 0;
        text-align: center;
      }
    }
    .cal-item {
      margin: 0;
    }
  }
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: #88AB31;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle {
  background: #88AB31;
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background: #88AB31;
}

@media (max-width: 768px) {
  .program {
    .program-descr {
      p {
        display: none !important;
      }
    }
  }
}

.others-program {
  padding-top: 80px;
}

.mat-option-text {
  text-align: center;
}





// Restourant dish-item
.restaurant {


  .dish-container {
    padding-top: 0;
    padding-bottom: 0;
    height: auto;
    min-height: initial;
    margin-bottom: 50px;

    &:hover {
      .dish-img-conteiner {
        // opacity: 0.6;
        // filter: alpha(opacity=60);
        // -webkit-transform: translate3d(40px,0,0);
        // transform: translate3d(40px,0,0);
        position: relative;

        &:before {
          position: absolute;
          content: '';
          width: 100%;
          height: 100%;
          left: 0;
          bottom: 3px;
          background-color: rgba(0,0,0, .6);
          z-index: 2;
          transition: .3s;
          -o-transition: .3s;
          -moz-transition: .3s;
          -webkit-transition: .3s;
          background-image: url(./assets/img/eye.svg);
          background-position: center center;
          background-repeat: no-repeat;
          background-size: 80px;
        }
      }
      // a {
      //   &:first-child {
      //     background: red;
      //   }
      // }
    }
    .dish-img-conteiner {
      position: relative;
      overflow: hidden;

      &:before {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        left: 0;
        bottom: 100%;
        background-color: rgba(0,0,0, .6);
        z-index: 2;
        transition: .3s;
        -o-transition: .3s;
        -moz-transition: .3s;
        -webkit-transition: .3s;
        background-image: url(./assets/img/eye.svg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 80px;
      }

    }
    img {
      // -webkit-transition: opacity 0.35s, -webkit-transform 0.45s;
      // transition: opacity 0.35s, transform 0.45s;
      position: relative;
    }

    .row, .container, .col-md-6 {
      margin: 0;
      padding: 0;
    }

    .row {
      display: flex;
      flex-direction: column;

      .col-md-6 {
        width: 100%;
        max-width: 100%;
      }
    }

    .dish-img {
      flex-direction: column;
      cursor: pointer;
      overflow: hidden;

      p {
        color: #000;
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 15px;
        display: flex;
        justify-content: center;
        height: 50px;
        text-align: center;
      }
    }

    .dish-name {
      display: none;
    }

    .dish-price {
      font-size: 20px;
      margin-top: 15px;
      margin-bottom: 15px;
      margin-left: 0;
      text-align: center;
      justify-content: center;
    }

    .full-price {
      display: none;
    }

    .nutritional-value {
      // font-size: 16px;
      // color: #fff;
      display: none;
    }

    .storage {
      display: none;
    }

    .buy-link {
      justify-content: center;
      margin-top: 15px;
      // margin-bottom: 100px;
    }

  }
}

@media(hover: none) {
  .restaurant {
    .dish-container {
      &:hover {
        .dish-img-conteiner {
          &:before {
            display: none;
          }
        }
      }
    }
  }
}

// Dish item start
.dish-container {
  padding-top: 170px;
  padding-bottom: 50px;
  position: relative;
  min-height: calc(100vh - 80px);
  display: flex;
  // align-items: center;

  .full-price {
    // display: none;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.5) !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -15px;
    margin-left: 50px;

    span {
      color: #88AB31;
      font-size: 28px;
    }
  }

  .dish-name {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 15px;

    p {
      color: #000;
      font-size: 24px;
      font-weight: bold;
    }
  }

  .dish-img {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 100%;
      margin: 0 auto;
    }

    p {
      display: none;
    }
  }

  .dish-price {
    color: #88AB31;
    font-size: 28px;
    margin: 30px 0 30px 45px;
    display: flex;
    align-items: center;
    height: 55px;
  }

  .storage {
    font-size: 18px;
    margin-bottom: 15px;
  }

  .mat-form-field {
    width: 50px;
    margin-left: 100px;

    &:before {
      position: absolute;
      content: 'Кількість';
      color: rgba(0,0,0, .6);
      font-family: 'Source Sans Pro', sans-serif;
      top: -15px;
      left: 0;
      font-size: 12px;
    }

    .mat-form-field-wrapper {
      padding-bottom: 0;
      text-align: center;
    }

    .mat-form-field-infix {
      padding: 0;
      border-top: none;
    }

    .mat-form-field-label-wrapper {
      padding-top: 0;
    }

    .mat-form-field-underline {
      bottom: 0;
    }
  }

  .nutritional-value {
    
    p {
      font-size: 18px;
      color: rgba(0,0,0, .5);
    }

    span {
      color: #88AB31;
    }
  }

  .buy-link {
    display: flex;
    justify-content: flex-start;
    margin-top: 30px;
    a {
      color: #fff;
      // display: inline-block;

      & + a {
        margin-left: 15px;
      }

      &:hover {
        color: #fff;
      }
    }
    .fa {
      color: #fff;
    }
  }
}

@media (max-width: 992px) {
  .dish-container {
    padding-top: 135px;

    img {
      width: 100%;
    }
  }
}

@media (max-width: 768px) {
  .dish-container {
    padding-bottom: 75px;

    .dish-price {
      margin: 30px 0;
      justify-content: center;
    }

    .buy-link {
      justify-content: center;
      flex-direction: column;
      align-items: center;

      a {
        width: 200px;
        display: flex;
        align-items: center;
        justify-content: center;

        & + a {
          margin-left: 0;
          margin-top: 15px;
        }
      }
    }
  }

  .mat-tab-label-content {
    font-size: 16px;
  }
}
.toast-title {
  display: none;
}

@media (max-width: 768px) {
  .mat-tab-label {
    height: 35px !important;
    padding: 0 15px !important;
  }
}


// Test style for restourant order
// .oder  {

//   .order-title {
//     display: flex;
//     align-items: center;
//   }

//   .item-name {
//     align-items: center;
//   }
// }

// .dish-container .mat-form-field .mat-form-field-infix:after {
//   position: absolute;
//   content: '1';
//   text-align: center;
//   width: 100%;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   top: 0;
//   z-index: 0;
// }

// .mat-form-field-hide-placeholder .mat-input-element::-webkit-input-placeholder {
//   color: #F0544F !important;
//   -webkit-text-fill-color: #F0544F;
// }
// .mat-form-field.mat-focused .mat-form-field-ripple {
//   background-color: #F0544F;
// }
// .mat-form-field-empty.mat-form-field-label {
//   color: green;
// }

// .mat-form-field-hide-placeholder {
//   .mat-input-element {
//     &::-webkit-input-placeholder {
//       color: #F0544F !important;
//       -webkit-text-fill-color: #F0544F;
//     }
//   }
// }

// .dish-container {
//   .mat-form-field-label-wrapper {
//     display: none;
//   }
// }

@media(max-width: 1200px) {
  .restaurant {
    .dish-container {
      .dish-img {
        p {
          height: 70px;
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .oder {
    .item-name {
      img {
        max-width: 150px !important;
      }
    }
  }
}

// @media (min-width: 768px) and (max-width: 992px) {
//   .restaurant {
//     .dish-container {
//       .dish-img {
//         p {
//           height: 100px;
//         }
//       }
//     }
//   }
// }

@media (max-width: 550px) {
  .dish-container {
    .dish-price {
      height: auto;
      flex-direction: column;
    }
    .mat-form-field {
      margin-left: 0;
      margin: 30px 
    }
    .full-price {
      margin-left: 0;
    }
  }
}

// .toast-message {
//   display: block !important;
//   z-index: 99999;
//   widows: 300px;
//   height: 300px;
//   overflow: visible;
//   opacity: 1;
// }