@import '~bootstrap/dist/css/bootstrap.min.css';
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

		/*Reset style*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
	&:hover {
		text-decoration: none;
	}
	&:focus {
		outline: none;
	}
}
button {
	&:focus {
		outline: none;
	}
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
		/*Main styles*/

.section {
	padding: 100px 0;
}
div {
	font-family: 'Source Sans Pro', sans-serif;
}
h1, h2, h3 {
	font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  margin: 0 0 50px 0;
  font-size: 40px;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
}
p, a, li {
	font-family: 'Source Sans Pro', sans-serif;
	color: #fff;
	font-size: 16px;
}
a {
	cursor: pointer;
	&:hover, &:focus {
		text-decoration: none;
		outline: none;
	}
}
.fa-facebook-f {
	color: #fff;
	background: #4267b2;
	margin-left: 15px;
	transition: .3s;
	opacity: .8;

	&:hover {
		opacity: 1;
		transition: .3s
	}
}

.fa-instagram {
	color: #fff;
	background: #d6249f;
	background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
	box-shadow: 0px 3px 10px rgba(0,0,0,.25);
	margin-left: 15px;
	transition: .3s;
	opacity: .8;

	&:hover {
		opacity: 1;
		transition: .3s
	}
}

button {
	opacity: .8;
	transition: .3s;

	&:hover {
		opacity: 1;
		transition: 1s;
	}
}

.table-wrap {
	overflow-x: scroll;
	-ms-overflow-style: none;
	overflow: -moz-scrollbars-none;

	&::-webkit-scrollbar {
		width: 0;
	}
}

@media(max-width: 767px) {
	.section {
		padding: 50px 0;
	}
}

.mat-tab-header {
	border-bottom: none;
	margin: 0 auto;
	margin-bottom: 50px;
}

.mat-tab-label-active {
	opacity: 1;
	background: #F0544F;
}

.mat-tab-label-content {
	font-size: 20px;
	font-weight: bold;
	// color: #D7D7D7;
}

.mat-tab-body-content {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	&>div {
		display: flex;
		&+div {
			margin-top: 50px;
		}
	}
}
.mat-tab-group.mat-primary .mat-tab-label:not(.mat-tab-disabled):focus, .mat-tab-group.mat-primary .mat-tab-link:not(.mat-tab-disabled):focus, .mat-tab-nav-bar.mat-primary .mat-tab-label:not(.mat-tab-disabled):focus, .mat-tab-nav-bar.mat-primary .mat-tab-link:not(.mat-tab-disabled):focus {
	background: #F0544F;
}
.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
	background: red;
}