@import '~bootstrap/dist/css/bootstrap.min.css';
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

		/*Reset style*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
body {
  line-height: 1;
  font-family: 'Source Sans Pro', sans-serif;
}
ol, ul {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
	&:hover {
		text-decoration: none;
	}
	&:focus {
		outline: none;
	}
}
button {
	&:focus {
		outline: none;
	}
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
		/*Main styles*/

.section {
	padding: 100px 0;
}
div {
	font-family: 'Source Sans Pro', sans-serif;
}
h1, h2, h3 {
	font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  margin: 0 0 50px 0;
  font-size: 40px;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
}
p, a, li {
	font-family: 'Source Sans Pro', sans-serif;
	color: #fff;
	font-size: 16px;
}
a {
	cursor: pointer;
	&:hover, &:focus {
		text-decoration: none;
		outline: none;
	}
}
.fa-facebook-f {
	color: #fff;
	background: #4267b2;
	margin-left: 15px;
	transition: .3s;
	opacity: .8;

	&:hover {
		opacity: 1;
		transition: .3s
	}
}

.fa-instagram {
	color: #fff;
	background: #d6249f;
	background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
	box-shadow: 0px 3px 10px rgba(0,0,0,.25);
	margin-left: 15px;
	transition: .3s;
	opacity: .8;

	&:hover {
		opacity: 1;
		transition: .3s
	}
}

button {
	opacity: .8;
	transition: .3s;

	&:hover {
		opacity: 1;
		transition: 1s;
	}
}

.table-wrap {
	overflow-x: scroll;
	-ms-overflow-style: none;
	overflow: -moz-scrollbars-none;

	&::-webkit-scrollbar {
		width: 0;
	}
}

@media(max-width: 767px) {
	.section {
		padding: 50px 0;
	}
}

.mat-tab-header {
	border-bottom: none;
	margin: 0 auto;
	margin-bottom: 50px;
}

.mat-tab-label-active {
	opacity: 1;
	background: #F0544F;
}

.mat-tab-label {
  opacity: 1 !important;
}

.mat-tab-label-content {
	font-size: 20px;
	font-weight: bold;
	// color: #D7D7D7;
}

.mat-tab-body-content {
	overflow: hidden !important;
	display: flex;
	flex-direction: column;
	&>div {
		display: flex;
		&+div {
			margin-top: 50px;
		}
	}
}

.mat-tab-group.mat-primary .mat-tab-label:not(.mat-tab-disabled):focus, .mat-tab-group.mat-primary .mat-tab-link:not(.mat-tab-disabled):focus, .mat-tab-nav-bar.mat-primary .mat-tab-label:not(.mat-tab-disabled):focus, .mat-tab-nav-bar.mat-primary .mat-tab-link:not(.mat-tab-disabled):focus {
	background: #F0544F;
}
.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
	background: red;
}

.product {
  display: flex;
  margin-bottom: 50px;
  
  .program-img {
    padding: 0;

    img {
      width: 100%;
      height: 100%;
    }
  }

}

.program-descr {
  padding: 40px;
  background: #fff;
  border: 1px solid rgba(0,0,0, .2);

  .program-title {
    color: #0A0807;
    font-size: 30px;
    margin-bottom: 15px;
    display: block;

    &:hover {
      text-decoration: underline;
    }
  }

  p {
    color: #0A0807;
    display: block;
    margin-bottom: 10px;
  }

  .buy-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-bottom: 50px;

    .price {
      font-size: 35px;
      font-weight: bold;
    }

    .buy-link {
      a {
        background: #F0544F;
        font-size: 21px;
        padding: 10px 25px;
        border-radius: 90px;
        color: #fff;
        transition: .3s;

        &:hover {
          transition: 3s;
          background: red;
          border-bottom: none;
        }

        .fa {
          margin-right: 10px;
        }
      }
    }

    .days {
      display: flex;
      align-items: center;
      position: relative;
      select {
        padding: 5px 45px 5px 15px;
        border-radius: 5px;
        color: #0A0807;
        position: relative;
        -webkit-appearance: none;
        -moz-appearance: none;

        &:focus {
          outline: none;
        }

      }
      .fa {
        position: absolute;
        color: #F0544F;
        right: 15px;
        font-size: 18px;
        font-weight: bold;
      }
    }

    .price-by-day {
      position: absolute;
      bottom: -25px;
      color: rgba(0,0,0, .6);
    }

  }

  .program-anons {
    color: #0A0807;
    line-height: 20px;
    margin-bottom: 30px;
  }

  .calories {
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
      font-size: 18px;
      font-weight: bold;
    }
  }

  // .cal-item-wrap {
  // 	display: flex;
  // }

  .cal-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #F0544F;
    margin-left: 15px;
    width: 60px;
    height: 85px;
    span {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #0A0807;;
      border-radius: 90%;
      width: 50px;
      height: 50px;
      margin-top: 10px;
    }
    .first {
      width: 70px;
      height: 70px;
      border-color: #F0544F;
      margin-top: 0;
    }
  }
}

.calories {
  display: flex;
  justify-content: space-between;
  align-items: center;

  p {
    font-size: 18px;
    font-weight: bold;
  }
}

// .cal-item-wrap {
// 	display: flex;
// }

.kal-price {
  position: absolute;
  right: 10px;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .fa {
    font-size: 30px;
    margin-bottom: 5px;
    color: #F0544F;
  }
}

.cal-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #F0544F;
  margin-left: 15px;
  width: 60px;
  height: 85px;
  span {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #0A0807;;
    border-radius: 90%;
    width: 50px;
    height: 50px;
    margin-top: 10px;
  }
  .first {
    width: 70px;
    height: 70px;
    border-color: #F0544F;
    margin-top: 0;
  }
}

.product-descr {
  position: relative;

  .row {
    display: flex;
    align-items: center;
    width: 100%;
  }

  .col-md-6 {
    padding: 0;
  }

  h1 {
    color: #000;
  }

  p {
    color: #000;
  }

  .cal-wrap {
    position: relative;
    display: flex;
    padding-right: 10px;
  }

  .program-descr {
    border: none;
    margin: 100px 0;
    padding: 0;
    padding-right: 10px;
  }

  .product-descr-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .buy-link {
    margin-left: 15px;
  }

  .feature {
    display: flex;
    padding-right: 10px;

    p {
      font-size: 25px;
      margin-bottom: 15px;
    }

    .col-md-6 {
      padding: 15px;
    }

    li {
      color: #000;
      display: flex;
      align-items: center;
      font-size: 18px;

      &+li {
        margin-top: 15px;
      }

      .fa {
        color: #F0544F;
        font-size: 25px;
        margin-right: 10px;
      }
    }
  }
}

.week-menu {
  margin-top: 100px;
  margin-bottom: 100px;

  .row {
    align-items: flex-start;
  }

  .col-md-3 {
    height: 100%;
    &+.col-md-3 {
      border-left: 1px solid #ccc;
    }
  }

  .number {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
  }

  .food {
   line-height: 20px;
   font-size: 18px;
   cursor: pointer;
   position: relative;
   margin-bottom: 30px;
   &:hover {
     transition: .3s;
     &::after {
       position: absolute;
       content: '';
       width: 100%;
       height: 100%;
       top: 0;
       left: 0;
       background: url('http://www.latimes.com/resizer/X_W2tK26MuzdctcIxzWARtWFKaQ=/1400x0/beta.latimes.com/resizer/LBWH8wCzCGIWCKb3hrfc_6AoKLE=/1400x0/www.trbimg.com/img-590ce311/turbine/la-fo-belcampo-20170505/');
       background-size: cover;
     }
   }
    img {
      vertical-align: middle;
      float: left;
      margin-right: 5px;
    }
  }

  .kkal {
    display: flex;
    justify-content: space-between;
    span {
      color: #8c8b8b;
    }
  }
}

.others-program {
  .row {
    margin: 0;
  }
  .col-md-6 {
    padding: 15px;
  }
  .program-descr {
    margin: 25px 0;
  }
}