<div class="dish-container">
  <div class="container">
    <div class="row">

      <div class="col-md-6">
        <div class="dish-img" [routerLink]='["omelet"]'>
          <p>Омлет шпинатний - 180г</p>
          <img src="../../../../assets/img/restourant/breakfast/omelet.jpg" alt="omelet.img">
        </div>
      </div>

      <div class="col-md-6">
        <div class="dish-name">
          <p>Омлет шпинатний - 180г</p>
        </div>
        <div class="dish-price">
          59рн
          <mat-form-field class="example-full-width">
            <input matInput type="number" value="1">
          </mat-form-field>
        </div>
        <div class="storage">
          З міксом салату та чері
        </div>
        <div class="nutritional-value">
          Харчова цінність страви (грам):
          білки - <span>14,6</span>; 
          жири - <span>23,5</span>;
          вуглуводи - <span>4,7</span>;
          ккал - <span>292</span>;
        </div>
        <div class="buy-link">
          <a><i class="fa fa-shopping-bag"></i>Замовити</a>
        </div>
      </div>

    </div>
  </div>
</div>