<div class="dish-container">
  <div class="container">
    <div class="row">

      <div class="col-md-6">
        <div class="dish-img" [routerLink]='["bylgyr-salad"]'>
          <p>Салат з булгуру - 200г</p>
          <img src="../../../../assets/img/restourant/salaty/bylgyr-salat.jpg" alt="bylgyr-salad.img">
        </div>
      </div>

      <div class="col-md-6">
        <div class="dish-name">
          <p>Салат з булгуру - 200г</p>
        </div>
        <div class="dish-price">
          88рн
          <mat-form-field class="example-full-width">
            <input matInput type="number" value="1">
          </mat-form-field>
        </div>
        <div class="storage">
          З печеного перцю, індички гриль з міксом салату та горіховим соусом
        </div>
        <div class="nutritional-value">
          Харчова цінність страви (грам):
          білки - <span>12,7</span>; 
          жири - <span>22,6</span>;
          вуглуводи - <span>16,3</span>;
          ккал - <span>319</span>;
        </div>
        <div class="buy-link">
          <a><i class="fa fa-shopping-bag"></i>Замовити</a>
        </div>
      </div>

    </div>
  </div>
</div>