<div class="dish-container">
  <div class="container">
    <div class="row">

      <div class="col-md-6">
        <div class="dish-img" [routerLink]='["green-burger"]'>
          <p>Green бургер - 340гр</p>
          <img src="../../../../assets/img/restourant/burgers/green-burger.jpg" alt="green-burger.jpg">
        </div>
      </div>

      <div class="col-md-6">
        <div class="dish-name">
          <p>Green бургер - 340гр</p>
        </div>
        <div class="dish-price">
          92грн 
          <mat-form-field class="example-full-width">
            <input matInput type="number" value="1">
          </mat-form-field>
        </div>
        <div class="nutritional-value">
          Харчова цінність страви (грам):
          білки - <span>22,2</span>; 
          жири - <span>28,4</span>;
          вуглуводи - <span>77</span>;
          ккал - <span>525,6</span>;
        </div>
        <div class="buy-link">
          <a><i class="fa fa-shopping-bag"></i>Замовити</a>
        </div>
      </div>

    </div>
  </div>
</div>