<div class="dish-container">
  <div class="container">
    <div class="row">

      <div class="col-md-6">
        <div class="dish-img" [routerLink]='["kinoa-salad"]'>
          <p>Салат з кіноа - 230г</p>
          <img src="../../../../assets/img/restourant/salaty/kinoa-salat.jpg" alt="kinoa-salat.img">
        </div>
      </div>

      <div class="col-md-6">
        <div class="dish-name">
          <p>Салат з кіноа - 230г</p>
        </div>
        <div class="dish-price">
          78рн
          <mat-form-field class="example-full-width">
            <input matInput type="number" value="1">
          </mat-form-field>
        </div>
        <div class="storage">
          З печеної моркви, гарбуза та груші гриль з йогуртовим соусом
        </div>
        <div class="nutritional-value">
          Харчова цінність страви (грам):
          білки - <span>6,1</span>; 
          жири - <span>15,2</span>;
          вуглуводи - <span>24,8</span>;
          ккал - <span>257</span>;
        </div>
        <div class="buy-link">
          <a><i class="fa fa-shopping-bag"></i>Замовити</a>
        </div>
      </div>

    </div>
  </div>
  </div>