<div class="dish-container">
  <div class="container">
    <div class="row">

      <div class="col-md-6">
        <div class="dish-img" [routerLink]='["chocolate-coclail"]'>
          <p>Протеїновий коктейль шоколадний - 360мл</p>
          <img src="../../../../assets/img/restourant/coclails/chocolate-coclail.jpg" alt="chocolate-coclail.jpg">
        </div>
      </div>

      <div class="col-md-6">
        <div class="dish-name">
          <p>Протеїновий коктейль шоколадний - 360мл</p>
        </div>
        <div class="dish-price">
          54грн
          <mat-form-field class="example-full-width">
            <input matInput type="number" value="1">
          </mat-form-field>
        </div>
        <div class="nutritional-value">
          Харчова цінність страви (грам):
          білки - <span>22</span>; 
          жири - <span>1,7</span>;
          вуглуводи - <span>3,8</span>;
          ккал - <span>119</span>;
        </div>
        <div class="buy-link">
          <a><i class="fa fa-shopping-bag"></i>Замовити</a>
        </div>
      </div>

    </div>
  </div>
</div>