<div class="dish-container">
  <div class="container">
    <div class="row">

      <div class="col-md-6">
        <div class="dish-img" [routerLink]='["fresh-smuzi"]'>
          <p>Смузі освіжаючий - 300мл</p>
          <img src="../../../../assets/img/restourant/smuzi/fresh-smuzi.jpg" alt="fresh-smuzi.jpg">
        </div>
      </div>

      <div class="col-md-6">
        <div class="dish-name">
          <p>Смузі освіжаючий - 300мл</p>
        </div>
        <div class="dish-price">
          45грн
          <mat-form-field class="example-full-width">
            <input matInput type="number" value="1">
          </mat-form-field>
        </div>
        <div class="buy-link">
          <a><i class="fa fa-shopping-bag"></i>Замовити</a>
        </div>
      </div>

    </div>
  </div>
</div>